@import "../../assets/styles/variables";

.arrow-style {
  @include grid-center;
  border: none;
  background-color: #fff;
  outline: none;
  width: 3rem;
  cursor: pointer;
  justify-self: start;
  font-size: 0.7rem;
  color: darkColor(medium);
  text-align: center;
}

.sort-icon {
  width: 1.2rem;
  padding: 0;
}
