@import "../../assets/styles/variables";

.filter-box {
  @include grid-center;
  grid-gap: 0.5rem;
  text-align: center;
  padding: 1rem;
  margin: 0 auto;
  //border-bottom: solid lightColor(light) 0.05rem;
  box-shadow: 0 0.4rem 1rem 0 rgba(0, 0, 0, 0.08);
  border-radius: 0 0 0.8rem 0.8rem;
  background-color: #fcfcfc;
  width: 100%;
  z-index: 3;

  h2 {
    color: darkColor(dark);
    font-weight: medium;
    padding: 0.5rem 3rem;
    margin: 0;
    text-transform: capitalize;
  }

  ul {
    padding: 0;
    margin: 0 0 1rem 0;

    .filter-option {
      padding: 0.4rem 0;
      border-radius: 0.5rem;
      background-color: rgba(0, 0, 0, 0);
      width: 6rem;
      cursor: pointer;
      color: darkColor(dark);
      border: none;
      outline: none;
      font-size: 0.9rem;
      &:hover {
        color: $primary-color;
      }
      &.option-active {
        color: $primary-color;
        font-weight: bold;
      }
    }
  }
}
