.authHeader {
  display: grid;
  grid-auto-flow: column;
  place-items: center;
  height: 3rem;
  border-bottom: solid #e3e3e3 0.01rem;
  width: 100%;
}

.authButton {
  display: block;
  width: 45%;
  text-align: center;
  cursor: pointer;
  color: #0172c4;
  border-bottom: solid #fff 2px;
  padding: 0.5rem;
}

.active {
  font-weight: bold;
  color: inherit;
  cursor: inherit;
  border-bottom: solid #707070 0.1rem;
}

.authForm {
  display: grid;
  grid-gap: 1.5rem;
  padding: 0.5rem;
  color: #313131;
  margin: 0 auto;
  max-width: 30rem;
}

.signup {
  margin: 0 auto;
  grid-gap: 1.5rem;
}

.authForm h1 {
  font-size: 1.3rem;
  text-align: center;
  margin: 0;
}

.authForm label {
  font-weight: bold;
}

.authForm input {
  all: unset;
  box-sizing: border-box;
  width: 100%;
  border-radius: 10rem;
  border: solid #bfbfbf 0.05rem;
  background-color: #fff;
  padding: 0.6rem 1rem;
  color: #484848;
  font-size: 1.3rem;
  font-weight: normal;
  margin-top: 0.5rem;
  cursor: text;
}

.authForm input::placeholder {
  /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: #000;
  opacity: 0.2; /* Firefox */
}

.authForm button {
  border: none;
  cursor: pointer;
  font-size: 1.3rem;
  font-weight: bold;
  color: #fff;
  border-radius: 10rem;
  background-color: #0172c4;
  height: 3rem;
  margin-top: 2rem;
  width: 80%;
  place-self: center;
}

.signup button {
  margin-top: 1rem;
}
