.authHeader {
  display: grid;
  grid-auto-flow: column;
  place-items: center;
  height: 3rem;
  border-bottom: solid #d8d8d8 0.1rem;

  width: 100%;
}

.authButton {
  display: block;
  width: 35%;
  text-align: center;
  cursor: pointer;
  color: #0172c4;
  border-bottom: solid #fff 2px;
  padding: 0.5rem;
}

.active {
  font-weight: bold;
  color: inherit;
  cursor: inherit;
  border-bottom: solid #707070 0.1rem;
}
