@import "../../assets/styles/variables";

.recipe-card {
  &:hover {
    .recipe-card__thumbnail {
      opacity: 0.8;
    }
  }
  position: relative;
  width: 100%;
  max-width: 25rem;
  background-color: #fff;
  margin: 0 auto;
  text-align: left;

  &__thumbnail {
    min-height: 9rem;
    max-height: 9rem;
    width: 100%;
    object-fit: cover;
    transition: all 0.2s;
    margin-bottom: 0.5rem;
    border-radius: 0.15rem;
    box-shadow: 0 0.5rem 0.9rem 0 rgba(0, 0, 0, 0.1);
    background: linear-gradient(130deg, #e2e2e2, #fafafa, #e2e2e2);
    background-size: 200% 200%;
    animation: Animation 3s ease-in infinite;
  }

  &__title {
    font-size: 0.9rem;
    font-weight: bold;
    letter-spacing: -0.5px;
    line-height: 1.1rem;
    color: darkColor(dark);
    margin: 0.2rem;
  }

  &__meta {
    margin: 0 0.1rem;
    color: darkColor(light);
    font-family: Arial !important;
    font-size: 0.75rem;
    white-space: nowrap;
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    grid-gap: 0.3rem;
    place-items: center;
  }

  &__icon {
    width: 0.9rem;
    fill: #e2e2e2;
  }

  &__time,
  &__saves {
    @include grid-center;
    grid-auto-flow: column;
    grid-gap: 0.25rem;
  }

  &__saves {
    justify-self: end;
    padding: 0 0.5rem;
  }
}

.recipe-card-loading {
  display: grid;
  grid-gap: 0.25rem;
  width: 100%;
  max-width: 25rem;
  &__thumbnail {
    @extend .recipe-card__thumbnail;
  }
  &__title,
  &__meta {
    margin: 0;
    width: 75%;
    height: 1.2rem;
    background-color: lightColor(light);
    border-radius: 0.2rem;
  }
  &__meta {
    width: 100%;
  }
}

@keyframes Animation {
  0% {
    background-position: 0% 0%;
  }
  50% {
    background-position: 91% 100%;
  }
  100% {
    background-position: 0% 0%;
  }
}
