@import "../../assets/styles/variables";

.recipe-card {
  &:hover {
    .recipe-card__thumbnail {
      //opacity: 0.8;
      //  transform: scale(1.025);
    }
  }

  overflow: hidden;
  position: relative;

  width: 19rem;
  height: 22.2rem;
  background-color: #fff;
  margin: 0 auto;
  text-align: left;
  //box-shadow: 0 0.5rem 0.9rem 0 rgba(0, 0, 0, 0.1);

  &__thumbnail {
    height: 22.2rem;
    width: 100%;
    object-fit: cover;
    @include slow-transition;
    background: linear-gradient(130deg, #e2e2e2, #fafafa, #e2e2e2);
    background-size: 200% 200%;
    animation: Animation 3s ease-in infinite;
  }

  &__meta {
    height: 3.2rem;
    padding: 0.2rem 0.25rem;
    position: absolute;
    bottom: -1px;
    background-color: rgba(265, 256, 256, 0.95);
    color: darkColor(light);
    font-family: Arial !important;
    font-size: 0.75rem;
    white-space: nowrap;
    display: grid;
    grid-template-columns: 1fr min-content;
    align-items: center;
    justify-items: start;
    width: 100%;
  }

  &__title {
    font-size: 0.85rem;
    font-weight: bold;
    letter-spacing: -0.5px;
    line-height: 1.1rem;
    color: darkColor(dark);
    margin: 0;
    grid-column: 1 / 3;
  }

  &__icon {
    width: 0.9rem;
    fill: darkColor(medium);
  }

  &__time,
  &__saves {
    @include grid-center;
    grid-auto-flow: column;
    grid-gap: 0.25rem;
  }

  &__saves {
    justify-self: end;
    padding: 0 0.5rem;
  }
}

.recipe-card-loading {
  display: grid;
  grid-gap: 0.25rem;
  width: 100%;
  max-width: 25rem;
  &__thumbnail {
    @extend .recipe-card__thumbnail;
  }
  &__title,
  &__meta {
    margin: 0;
    width: 75%;
    height: 1.2rem;
    background-color: lightColor(light);
    border-radius: 0.2rem;
  }
  &__meta {
    width: 100%;
  }
}

@media (min-device-width: 650px) {
}

@keyframes Animation {
  0% {
    background-position: 0% 0%;
  }
  50% {
    background-position: 91% 100%;
  }
  100% {
    background-position: 0% 0%;
  }
}
