@import "../../assets/styles/variables";

.recipe-card {
  overflow: hidden;
  position: relative;
  display: inline-block;
  width: 19rem;
  height: 24rem;
  background-color: #fff;
  margin: 1rem auto;
  text-align: left;
  box-shadow: 0 0.3rem 0.5rem 0 rgba(0, 0, 0, 0.3);
  border-radius: 0.5rem;

  &__thumbnail {
    height: 24rem;
    width: 100%;
    object-fit: cover;
    @include slow-transition;
    background: linear-gradient(130deg, #e2e2e2, #fafafa, #e2e2e2);
  }

  &__meta {
    padding: 0 0.5rem 0.75rem 0.5rem;
    position: absolute;
    bottom: 0px;
    background-color: none;
    color: #fff;
    font-family: Arial !important;
    font-size: 0.75rem;
    display: grid;
    grid-template-columns: 1fr min-content;
    grid-row-gap: 0.25rem;
    align-items: center;
    justify-items: start;
    width: 100%;
    z-index: 1;
  }

  &__fade {
    z-index: -1;
    box-shadow: 0 0rem 4rem 6rem rgba(0, 0, 0, 0.6);
    width: 100%;
    bottom: 0;
    position: absolute;
    height: 0;
  }

  &__title {
    font-size: 0.9rem;
    width: 100%;
    overflow: hidden;
    hyphens: auto;
    font-weight: bold;
    letter-spacing: -0.1px;
    margin: 0;
  }

  &__icon {
    width: 0.9rem;
    fill: #fff;
  }

  &__saves {
    @include grid-center;
    grid-auto-flow: column;
    grid-gap: 0.25rem;
    justify-self: end;
    padding: 0 0.25rem;
    grid-column: 2 / 3;

    &--two-rows {
      grid-row: 2 / 3;
    }
  }
}

.recipe-card-loading {
  overflow: hidden;
  position: relative;
  display: inline-block;
  width: 19rem;
  height: 23.2rem;
  background-color: #fff;
  margin: 1rem auto;
  border-radius: 0.5rem;

  &__thumbnail {
    @extend .recipe-card__thumbnail;
    background: linear-gradient(130deg, #e2e2e2, #fafafa, #e2e2e2);
  }
}

@media (min-device-width: 650px) and (max-width: 650px) {
  .recipe-card,
  .recipe-card-loading {
    width: 9rem;
    height: 12rem;
  }
}
//
// @media (max-width: 639px) {
//   .recipe-card,
//   .recipe-card-loading {
//     width: 9rem;
//     height: 12rem;
//   }
// }
