@import "../../../assets/styles/variables";

.home {
  .header {
    width: 100%;
    overflow: hidden;
    display: grid;
    align-items: center;
    grid-template-areas:
      "sort whisk search"
      "Diet . Meal";
    border-bottom: solid 0.01rem #e3e3e3;
    padding: 0.3rem 0.1rem 0 0.1rem;
    box-sizing: border-box;

    .whisk {
      width: 5rem;
      grid-area: whisk;
      justify-self: center;
    }

    .sort-icon {
      width: 1.2rem;
      padding-bottom: 0.1rem;
    }
  }
}

.filter-btn {
  border: solid lightColor(medium) 0.05rem;
  border-radius: 50rem;
  outline: none;
  cursor: pointer;
  font-size: 0.9rem;
  margin: 1rem 0.2rem;
  padding: 0.5rem;
  opacity: 1;
  width: 95%;
  min-width: 7rem;
  max-width: 20rem;
  place-self: center;
}

.filter-btn.filter-active {
  border: solid $primary-color 0.05rem;
  color: #0172c4;
}

.filter-btn.filter-select {
  color: #0172c4;
}

.filter-btn.diet {
  grid-area: Diet;
}

.filter-btn.meal {
  grid-area: Meal;
}

.filter-arrow {
  width: 0.8rem;
  position: absolute;
  margin-left: 1rem;
  margin-top: 0.2rem;
  transition: all 0.2s ease-out;
  fill: #e2e2e2;
}

.filter-arrow.filter-active {
  transform: rotate(90deg);
  fill: #0172c4;
}

/* not working ios safari... color staying on after click */
/* .filter-btn:hover {
  color: #0172c4;
} */
