@import "../../../assets/styles/variables";

.home {
  .header {
    width: 100%;
    z-index: 3;
    overflow: hidden;
    display: grid;
    align-items: center;
    position: fixed;
    top: 0;
    margin-bottom: 10rem;
    grid-template-areas:
      "sort whisk search"
      ". Meal .";
    grid-template-columns: 1fr 1fr 1fr;
    border-bottom: solid lightColor(medium) 0.07rem;
    padding: 0.3rem 0.1rem 0 0.1rem;

    box-sizing: border-box;

    .whisk {
      width: 5rem;
      grid-area: whisk;
      justify-self: center;
    }
    .categoryBtn {
      grid-area: Meal;
    }
  }
}
.sort-btn {
  grid-area: sort;
}

/* not working ios safari... color staying on after click */
/* .filter-btn:hover {
  color: #0172c4;
} */
