.navBar {
  position: fixed;
  width: 100%;
  min-width: 23rem;
  bottom: 0;
  height: 3rem;
  display: grid;
  grid-auto-flow: column;
  place-items: center;
  user-select: none;
  border-top: solid 0.05rem #bfbfbf;
  background-color: rgba(256, 256, 256, 0.96);
}

.navBar a {
  display: block;
  width: 90%;
  text-align: center;
  font-size: 0rem;
  margin: 0.35rem;
}
.navIcon {
  width: 2.5rem;
  height: 2.5rem;
}

.navActive path {
  stroke-width: 1.5;
}
