@import "../../../assets/styles/variables";

.page-toggle {
  display: grid;
  grid-auto-flow: column;
  place-items: end center;
  //border-top: solid lightColor(light) 0.05rem;
  border-bottom: solid lightColor(light) 0.05rem;
  width: 100%;
  position: sticky;
  top: 2.4rem;
  padding: 0.3rem 0;
  padding-bottom: 0;
  margin-top: 13.5rem;
  background-color: #fff;
  z-index: 2;
  // border-radius: 1rem 1rem 0 0;

  .btn {
    outline: none;
    background-color: #fff;
    position: relative;
    bottom: 0.1rem;
    border: none;
    display: grid;
    grid-auto-flow: row;
    cursor: pointer;
    padding: 0rem 2rem;
    font-size: 0.8rem;
    opacity: 0.5;
    &:hover {
      opacity: 0.8;
    }
    .btn-num {
      font-weight: fontWeight(bold);
      font-size: 1.2rem;
    }
  }
  .saved {
    justify-self: start;
    margin-left: 1.5rem;
  }
  .posted {
    justify-self: end;
    margin-right: 1.5rem;
  }
  .active {
    border-bottom: solid darkColor(dark) 0.1rem;
    bottom: 0rem;
    opacity: 1;
  }
}
