@import "../../../assets/styles/variables";

.recipe-more {
  border-bottom: solid lightColor(light) 0.09rem;
  padding-bottom: 1rem;
  width: 100%;
  height: 15rem;
  position: fixed;
  margin: auto;
  background-color: #fff;
  z-index: 2;
  @include grid-center;
  grid-gap: 0.5rem;
  grid-template-rows: repeat(4, 1fr);

  &__close-btn {
    width: 5rem;
    padding: 1rem 2rem;
    cursor: pointer;
    justify-self: end;
  }

  &__copy-msg {
    font-size: 1.5rem;
    color: darkColor(medium);
    margin: 0;
  }

  &__copy-btn,
  &__print-btn {
    border: solid lightColor(dark) 0.09rem;
    border-radius: 0.5rem;
    text-align: center;
    padding: 0.6rem;
    margin: 0 1rem;
    color: darkColor(medium);
    background-color: #fff;
    width: 85%;
    cursor: pointer;
  }

  &__edit-btn {
    display: inline-block;
    border-top: solid lightColor(light) 0.09rem;
    padding: 1rem 2rem;
    max-width: 20rem;
    width: 85%;
    text-align: center;
    color: #0172c4;
    font-size: 0.9rem;
    cursor: pointer;
  }
}
