@import "../../../assets/styles/variables";

.recipe-more {
  border-bottom: solid lightColor(light) 0.09rem;
  position: fixed;
  top: 0;
  width: 100%;
  margin: 0 auto;
  background-color: #fff;
  z-index: 3;
  padding: 0.5rem;

  &__close-btn {
    width: 5rem;
    padding: 1rem 2rem;
    cursor: pointer;
    position: relative;
    right: calc(-100% + 4rem);
  }

  &__copy-msg {
    font-size: 1.5rem;
    color: darkColor(medium);
    margin: 0 auto;
    text-align: center;
  }

  &__copy-btn,
  &__print-btn {
    border: solid lightColor(dark) 0.09rem;
    border-radius: 0.5rem;
    text-align: center;
    font-size: 0.9rem;
    padding: 0.6rem;
    margin: 1.5rem auto;
    color: darkColor(medium);
    background-color: #fff;
    width: 85%;
    cursor: pointer;
  }

  &__edit-btn {
    display: block;
    border-bottom: solid lightColor(light) 0.09rem;
    padding: 1rem 2rem;
    margin: 0 auto 0.5rem auto;
    max-width: 20rem;
    width: 85%;
    text-align: center;
    color: #0172c4;
    font-size: 0.9rem;
    cursor: pointer;
  }
}

.recipe {
  &__d-back-btn {
    @extend .header-d-more__edit-btn;
    align-self: end;
    position: relative;
  }

  &__d-back-icon {
    width: 1rem;
    position: relative;
    left: 0rem;
    margin: 0 0.3rem;
    top: 0.23rem;
  }
}

.header-d-more {
  @include grid-center;
  grid-auto-flow: column;
  grid-column: 3 / 5;
  place-self: end;
  min-width: 15rem;
  max-width: 20rem;

  &__copy-msg,
  &__copy-btn,
  &__print-btn,
  &__edit-btn {
    color: darkColor(medium);
    cursor: pointer;
    font-weight: normal;
    text-align: center;
    font-size: 0.75rem;
    padding: 0.2rem 1.5rem;
    white-space: nowrap;
    margin: 0;
    @include fast-transition;

    &:hover {
      color: $primary-color;
    }
  }

  &__copy-msg {
    color: $primary-color;
  }

  &__close-btn {
    display: none;
  }
}
