@import "../../../assets/styles/variables";

.adjust-servings {
  border: solid lightColor(dark) 0.09rem;
  border-radius: 0.3rem;
  text-align: center;
  cursor: pointer;
  line-height: 1.75rem;
  width: 12rem;
  height: 1.8rem;
  font-size: 0.75rem;
  color: darkColor(medium);
  margin: 0.75rem auto 1rem auto;

  cursor: text;
  &__text {
    color: $primary-color;
    user-select: none;
  }

  &--active {
    border-color: $primary-color;
    color: $primary-color;
    line-height: 1rem;

    .adjust-servings__text {
      display: none;
    }
  }

  &__input {
    all: unset;
    width: 1.4rem;
    height: 1.6rem;

    &--active {
      line-height: 0.5rem;
      font-size: 1rem;
      width: 100%;
    }
  }
}
