@import "../../../assets/styles/variables";

.adjust-servings {
  padding: 0.2rem;
  border-radius: 0;
  text-align: center;
  color: darkColor(dark);
  margin: 0.75rem auto 1.5rem auto;
  width: 9rem;
  font-size: 1.5rem;
  //  font-weight: bold;
  font-family: sans-serif;
  cursor: pointer;
  //background-color: lightColor(light);
  border-bottom: solid $primary-color 0.5px;

  &__text {
    user-select: none;
    font-size: 0.85rem;
  }

  &--active {
    border-radius: 0;
    border-bottom: solid $primary-color 0.5px;

    .adjust-servings__text {
      display: none;
    }
  }

  &__input {
    all: unset;
    vertical-align: top;
    width: 2rem;
    margin-right: 0.3rem;
    text-align: right;
    font-weight: bold;

    &--active {
      text-align: center;
      margin-right: 0;
    }
  }
}
