@import "../../../../assets/styles/variables";

.profile-header {
  color: darkColor(medium);

  width: 100%;
  height: 0;

  .user-info {
    @include grid-center;
    grid-gap: 0.4rem;
    left: 0;
    width: 100%;
    top: 0;
    position: fixed;
    height: 50vh;
    z-index: 0;
    padding: 0.5rem;
    padding-bottom: 70vh;
    background-color: darkColor(dark);
    img {
      width: 6rem;
      height: 6rem;
      object-fit: cover;
      border-radius: 100%;
    }

    h2 {
      font-size: 1.3rem;
      fontweight: 900;
      margin: 0;
      color: #fff;
    }

    .edit {
      color: $primary-color;
      font-size: 0.8rem;
      margin: 0;
    }

    .edit-link {
      @include grid-center;
      &:hover {
        opacity: 0.9;
      }
    }

    .create-recipe-btn {
      outline: none;
      border: solid darkColor(light) 0.09rem;
      border-radius: 0.5rem;
      cursor: pointer;
      color: #fff;
      font-weight: 900;
      font-size: 1.1rem;
      background-color: darkColor(dark);
      width: 75%;
      min-width: 18rem;
      max-width: 20rem;
      margin: 0 auto;
      padding: 0.6rem 5rem;
      fontweight: bold;
      text-align: center;
      &:hover {
        opacity: 0.8;
      }
    }
  }
}
