@import "../../../../assets/styles/variables";

.profile-header {
  width: 100%;

  .user-info {
    @include grid-center;
    grid-template-columns: 1fr 2fr;
    grid-template-rows: 1fr 0.7rem 2.2rem;
    grid-column-gap: 1rem;
    left: 0;
    width: 100%;
    top: 0;
    position: fixed;
    z-index: 2;
    background-color: #fff;
    padding: 0.5rem 2rem 0rem 0.5rem;

    h2 {
      align-self: end;
      grid-column: 2 / 4;
      grid-row: 1 / 2;
      font-size: 1.2rem;
      font-weight: medium;
      color: darkColor(dark);
      margin: 0;
    }

    h3 {
      grid-column: 2 / 4;
      grid-row: 2 / 3;
      font-size: 0.8rem;
      font-weight: 100;
      color: darkColor(light);
      margin: 0;
    }

    .edit-link {
      grid-column: 1 / 2;
      grid-row: 1 / 4;
      @include grid-center;
      &:hover {
        opacity: 0.9;
      }
      img {
        float: left;
        width: 5.5rem;
        height: 5.5rem;
        border-radius: 100%;
        border: solid lightColor(medium) 0.08rem;
        padding: 0.1rem;
      }
    }

    .create-recipe-link {
      grid-column: 2 / 4;
      grid-row: 3 / 4;
      @include grid-center;
      display: grid;
      place-items: center;
      padding: 0 0.5rem;
      grid-template-columns: 1fr 1rem;
      .create-recipe-btn {
        outline: none;
        border: none;
        background: rgba(0, 0, 0, 0);
        cursor: pointer;
        color: $primary-color;
        font-size: 1rem;
        width: 75%;
        min-width: 7rem;
        max-width: 8rem;
        margin: 0 auto;
        padding: 0.4rem 0;
        fontweight: bold;
        text-align: center;
        &:hover {
          opacity: 0.8;
        }
      }
    }
  }
}
