@import "../../assets/styles/variables";

.recipe {
  @include grid-center;
  //grid-gap: 1rem;
  color: darkColor(dark);

  &__img {
    position: fixed;
    width: 100vw;
    max-height: 100vh;
    min-height: 100vh;
    margin: 0.5rem auto;
    padding: 0;
    object-fit: cover;
    object-position: 50% 50%;
    text-align: center;
    display: block;
    z-index: -1;
  }

  &__container {
    min-width: 100%;
    margin-top: 70vh;
    background-color: #fff;
    padding: 2rem 0.75rem;
    border-radius: 1rem 1rem 0 0;
    z-index: 1;
  }

  &__details {
    width: 100%;
    margin: 0 0 4rem 0;
    display: grid;
    place-items: center;
    grid-gap: 0.5rem;
  }

  &__title {
    font-size: 1.2rem;
    margin: 0;
    color: darkColor(medium);
    text-align: center;
  }

  &__time {
    color: darkColor(medium);
    font-size: 0.9rem;
    font-style: italic;
  }

  &__created-by {
    font-size: 0.85rem;
    color: lightColor(dark);
    font-style: italic;
    text-align: center;
    margin: 4rem 0 0rem 0;
  }
}

.r-ingredients {
  width: 100%;
  margin: 6rem 0;
  @include grid-center;
  grid-gap: 1rem;

  &__list {
    width: 100%;
    justify-self: start;
    padding: 0;
    list-style-type: none;
    margin: 0;
  }

  &__item {
    margin: 0;
    padding: 0.5rem;
    display: grid;
    grid-auto-flow: column;
    grid-gap: 0.5rem;
    font-size: 0.95rem;
    line-height: 1rem;
    border-bottom: solid lightColor(medium) 0.09rem;

    &:first-child {
      border-top: solid lightColor(medium) 0.09rem;
    }
  }

  &__item-amount {
    font-weight: 600;
    font-style: italic;
    color: darkColor(medium);
  }

  &__item-ingredient {
    text-align: right;
    color: darkColor(light);
  }
}

.r-directions {
  @include grid-center;

  &__text {
    white-space: pre-wrap;
    margin: 0;
    font-size: 0.95rem;
    line-height: 1.2rem;
    //text-indent: 0.5rem;
    &::first-letter {
      font-size: 2.5rem;
      font-weight: 600;
    }
  }

  &__footnote {
    white-space: pre-line;
    margin: 2rem 0 0 0;
    font-size: 0.9rem;
    color: darkColor(light);
    line-height: 1.1rem;
    font-style: italic;
  }
}

//===================================================================
@media (min-device-width: 650px) {
  .recipe {
    grid-template-columns: 1fr 3fr;
    align-items: start;

    &__details {
      justify-items: start;
    }

    &__container {
      margin-top: 4rem;
      border-radius: 0;
      border-left: solid lightColor(medium) 0.09rem;
      padding: 5rem;
    }

    &__img {
      position: relative;
      min-width: 30rem;
      max-width: 30rem;
      min-height: 22.5rem;
      max-height: 22.5rem;
      margin: 5rem 0 0 0;
      z-index: 1;
    }

    &__created-by {
      text-align: left;
      margin: 0.5rem 0;
    }
  }

  .r-ingredients {
    margin: 5rem 0 0 0;
    //position: fixed;
    padding: 0;
    width: 100% !important;
  }

  .r-directions {
    max-width: 40rem;

    &__text,
    &__footnote {
      line-height: 1.3rem;
    }
  }
}

//====================================================================
@media print {
  /* Remove unwanted elements */
  .recipe-header,
  .rating,
  .units,
  .navBar,
  .rate,
  .recipe-more,
  .down-arrow,
  .username,
  .recipe-rating,
  .ingredient-adjust__units,
  h2,
  img {
    display: none !important;
  }

  * {
    padding: 0 !important;
    margin: 0 !important;
    color: black !important;
    font-size: 12pt !important;
    //border: solid red 1px !important;
  }

  body {
    font-family: Goergia, serif;
    overflow-y: visible !important;
    //display: block !important;
  }

  .recipe {
    &__container {
      display: grid;
      grid-gap: 2rem;
    }
    &__details {
      margin: 0 !important;
    }
  }

  .r-ingredients {
    margin: 0 auto !important;
    grid-gap: 0.5rem;
    font-size: 12pt !important;
    width: 60%;

    .ingredient-adjust {
      display: block !important;
      .adjust-servings {
        border: none !important;
        display: block !important;
        width: 100% !important;
        margin: 0 auto;
        &__input {
          width: 2rem;
          border: none !important;
          color: black !important;
          -webkit-text-fill-color: black !important;
          font-weight: normal;
        }
      }
    }

    &__list {
      margin: 0 auto !important;
      min-width: 20rem;
      max-width: 100%;
      display: grid;
      grid-template-columns: 1fr;
      grid-row-gap: 0.2rem;
      grid-column-gap: 1.5rem;
    }
    &__item {
      text-decoration: none !important;
      opacity: 1 !important;
      font-size: 12pt !important;
      line-height: 18pt !important;
      border-bottom: solid lightColor(medium) 1pt;
    }
  }

  .r-directions {
    margin: 0 auto !important;
    width: 90%;

    &__text {
      margin: 0 !important;
      font-size: 12pt !important;
      line-height: 13pt !important;
      //text-indent: 20pt;
      white-space: pre-line;

      &::first-letter {
        font-size: 12pt !important;
        font-weight: normal !important;
        margin: 0 !important;
        float: none !important;
      }
    }
  }
}
