@import "../../assets/styles/variables";

@keyframes Animation {
  0% {
    background-position: 0% 0%;
  }
  50% {
    background-position: 91% 100%;
  }
  100% {
    background-position: 0% 0%;
  }
}

.recipe {
  @include grid-center;
  //grid-gap: 1rem;
  //color: darkColor(medium);
  position: relative;
  &__img {
    position: fixed;
    top: 0;
    width: 100vw;
    max-height: 100vh;
    min-height: 100vh;
    margin: 0.5rem auto;
    padding: 0;
    object-fit: cover;
    object-position: 50% 50%;
    text-align: center;
    display: block;
    z-index: -1;
    background: linear-gradient(130deg, #e2e2e2, #fafafa, #e2e2e2);
    background-size: 200% 200%;
    animation: Animation 3s ease-in infinite;
  }

  &__container {
    min-width: 100%;
    background-color: #fff;
    position: relative;
    top: calc(100vh - 9rem);
    z-index: 2;
    padding: 1rem 0.75rem;
    border-radius: 1rem 1rem 0 0;
  }

  &__details {
    width: 100%;
    margin: 0 0 4rem 0;
    display: grid;
    place-items: center;
    grid-gap: 0.5rem;
  }

  &__title {
    font-family: "Roboto", Arial, sans-serif;
    font-size: 1.2rem;
    margin: 0;
    color: darkColor(medium);
    text-align: center;
  }

  &__time {
    font-family: "Noto Serif", Arial, sans-serif;
    color: darkColor(light);
    font-size: 0.8rem;
    font-style: italic;
  }

  &__created-by {
    font-family: "Noto Serif", Arial, sans-serif;
    font-size: 0.75rem;
    color: darkColor(light);
    //font-style: italic;
    text-align: center;
    margin: 4rem 0 0rem 0;
  }
}

.r-ingredients {
  width: 100%;
  margin: 6rem 0;

  &__fade {
    display: none;
  }

  &__list {
    width: 100%;
    justify-self: start;
    padding: 0;
    list-style-type: none;
    margin: 0;
  }

  &__item {
    margin: 0;
    padding: 0.5rem;
    display: grid;
    grid-auto-flow: column;
    grid-gap: 0.5rem;
    font-size: 0.9rem;
    line-height: 1rem;
    border-bottom: solid lightColor(medium) 0.09rem;

    &:first-child {
      border-top: solid lightColor(medium) 0.09rem;
    }
  }

  &__item-amount {
    font-weight: 600;
    font-style: italic;
    color: darkColor(medium);
  }

  &__item-ingredient {
    font-family: "Noto Serif", Arial, sans-serif;
    text-align: right;
    color: darkColor(light);
  }
}

.r-directions {
  @include grid-center;
  font-family: "Noto Serif", Arial, sans-serif;
  line-height: 1.25rem;

  &__text {
    white-space: pre-wrap;
    margin: 0;
    font-size: 0.9rem;
    color: darkColor(medium);
    &::first-letter {
      font-size: 1.75rem;
    }
  }

  &__footnote {
    white-space: pre-line;
    margin: 2rem 0 0 0;
    font-size: 0.8rem;
    color: darkColor(light);
    font-style: italic;
  }
}

//===================================================================
@media (min-device-width: 650px) {
  .recipe {
    grid-template-columns: minmax(17rem, 30%) 1fr;
    align-items: start;

    &__save-icon {
      width: 0.9rem;
      fill: darkColor(medium) !important;
    }

    &__save-btn {
      @include grid-center;
      grid-template-columns: min-content 1fr;
      grid-gap: 0.25rem;
      border: solid lightColor(dark) 0.09rem;
      border-radius: 0.2rem;
      color: darkColor(medium);
      background-color: #fff;
      font-weight: 500;
      font-size: 0.75rem;
      padding: 0.25rem 2rem;
      margin-bottom: 4rem;
      width: 8rem;
      cursor: pointer;
      outline: none;
      user-select: none;
      @include fast-transition;

      @media (hover: hover) {
        &:hover {
          border-color: $primary-color;
          color: $primary-color;
          .recipe__save-icon {
            path:last-child {
              fill: $primary-color !important;
            }
          }
        }
      }

      &--active {
        border-color: $primary-color;
        color: $primary-color;

        .recipe__save-icon {
          path:last-child {
            fill: $primary-color !important;
          }
        }

        @media (hover: hover) {
          &:hover {
            border-color: lightColor(dark);
            color: darkColor(light);
            opacity: 0.9;

            .recipe__save-icon {
              path:last-child {
                fill: lightColor(medium) !important;
              }
            }
          }
        }
      }
    }

    &__container {
      width: 100%;
      min-height: calc(100vh - 4.95rem);
      grid-column: 2 / 3;
      top: 4.95rem;
      border-radius: 0;
      border-left: solid lightColor(medium) 0.09rem;
      padding: 3rem 8%;

      .r-ingredients {
        display: none;
      }
    }

    &__details {
      justify-items: start;
    }

    &__img {
      position: relative;
      width: 100%;
      max-width: 35rem !important;
      height: 100%;
      min-height: 15rem;
      max-height: 20rem;
      margin: 5rem 0 0 0;
      z-index: 1;
    }

    &__created-by {
      text-align: left;
      margin: 0.5rem 0;
    }
  }

  .r-ingredients {
    margin: 5rem 0 0 0;
    position: fixed;
    left: 0;
    overflow-y: scroll;
    height: calc(100vh - 5rem);
    width: 30% !important;
    min-width: 17rem;
    grid-gap: 0.25rem;
    padding-bottom: 2.5rem;

    &__fade {
      display: block;
      position: fixed;
      bottom: 0;
      width: 100%;
      height: 0;
      box-shadow: 0 0rem 2rem 2rem rgba(256, 256, 256, 1);
    }
  }

  .r-directions {
    max-width: 40rem;

    &__text,
    &__footnote {
      //  line-height: 1.3rem;
    }

    &__footnote {
      //max-width: 35rem;
      justify-self: start;
    }
  }
}

@media (max-width: 700px) {
  .recipe {
    display: block;

    &__img {
      margin: 5rem auto 0 auto;
    }

    &__save-btn {
      margin: 0 auto 4rem auto;
    }

    &__container {
      padding: 2rem 0.5rem;
      border: none;

      .r-ingredients {
        display: block;
        position: relative;
        margin: 5rem auto;
        width: 100% !important;
        max-width: 30rem;
        height: 100% !important;
        &__fade {
          display: none;
        }

        &__list {
          padding: 0;
        }
      }
    }

    &__details {
      margin: 0;
      place-items: center;
    }

    &__created-by {
      text-align: center;
      margin: 1rem auto;
    }
  }
  .r-ingredients {
    display: none;
  }
}

//====================================================================
@media print {
  /* Remove unwanted elements */
  .recipe-header,
  .header-d,
  .rating,
  .units,
  .navBar,
  .rate,
  .recipe-more,
  .recipe__save-btn,
  .recipe__created-by,
  .down-arrow,
  .username,
  .recipe-rating,
  .ingredient-adjust__units,
  h2,
  img {
    display: none !important;
  }

  * {
    padding: 0 !important;
    margin: 0 !important;
    color: black !important;
    font-size: 12pt !important;
  }

  body {
    font-family: Goergia, serif;
    overflow-y: visible !important;
    display: block !important;
  }

  .recipe {
    &__container {
      display: block;
      top: 0;
    }
    &__details {
      margin: 0 !important;
      padding: 0 !important;
      height: 5rem;
    }
  }

  .r-ingredients {
    margin: 0 auto !important;
    padding: 0 !important;
    grid-gap: 0.5rem;
    font-size: 12pt !important;

    .ingredient-adjust {
      display: block !important;
      margin: 0 !important;
      padding: 0 !important;
      .adjust-servings {
        border: none !important;
        display: block !important;
        width: 100% !important;
        margin: 0 auto;
        &__input {
          width: 2rem;
          border: none !important;
          color: black !important;
          -webkit-text-fill-color: black !important;
          font-weight: normal;
        }
      }
    }

    &__list {
      margin: 0 auto !important;
      padding: 0 !important;
      min-width: 20rem;
      width: 50% !important;
      max-width: 100%;
      display: grid;
      grid-template-columns: 1fr;
      grid-row-gap: 0.2rem;
      grid-column-gap: 1.5rem;
    }
    &__item {
      text-decoration: none !important;
      opacity: 1 !important;
      font-size: 12pt !important;
      line-height: 18pt !important;
      border-bottom: solid lightColor(medium) 1pt;
    }

    &__fade {
      display: none;
    }
  }

  .r-directions {
    margin: 2rem auto 0 auto !important;
    width: 90%;

    &__text {
      margin: 0 !important;
      font-size: 12pt !important;
      line-height: 13pt !important;
      //text-indent: 20pt;
      white-space: pre-line;

      &::first-letter {
        font-size: 12pt !important;
        font-weight: normal !important;
        margin: 0 !important;
        float: none !important;
      }
    }
  }
}
