.home {
  .filter-box {
    position: fixed;
    top: 2.5rem;
  }

  .recipe-results {
    margin-top: 4rem;
  }

  @media (min-width: 650px) {
    .mobile.Meal {
      display: none;
    }
    .Sort {
      width: 9rem;
      position: fixed;
      padding: 1rem 0;
      right: 1rem;
      top: 5.5rem;
      background-color: #fff;
      h2 {
        display: none;
      }
      ul {
        button {
          text-align: center;
          width: 100%;
          &:hover {
            background-color: #efefef;
          }
        }
        text-align: center;
        width: 100%;
        display: grid;
      }
    }
  }
}
