@import "../../assets/styles/variables";

.home {
  .filter-results-sort,
  .filter-results-category {
    position: fixed;
    top: 2.5rem;
    left: 0;
  }

  .recipe-results {
    top: 3rem;
  }

  // Desktop view
  @media (min-device-width: 650px) {
    .filter-results-sort,
    .filter-results-category {
      width: 9rem;
      position: fixed;
      top: 4.8rem;

      padding: 1rem 0;
      background-color: #fff;
      border: solid lightColor(medium) 0.05rem;
      border-radius: 0 0 0.3rem 0.3rem;
      &__title {
        display: none;
      }
      .filter-list {
        &__option {
          text-align: center;
          width: 100%;
          font-size: 0.75rem;
          &:hover {
            background-color: #efefef;
          }
        }
        text-align: center;
        width: 100%;
        display: grid;
      }
    }
    .filter-results-sort {
      right: 1rem;
      left: auto;
    }
    .filter-results-category {
      left: 1rem;
    }
  }
}
