.home {
  .filter-box {
    position: fixed;
    top: 2.5rem;
  }
  .hero-img {
    display: none;
    width: 100%;
    height: 43vw;
    min-height: 50vh;
    object-fit: cover;
    @media (min-width: 600px) {
      display: block;
    }
  }
  .recipe-results {
    margin-top: 6rem;
  }
}
