@import "../../../../assets/styles/variables";

.page-toggle {
  @include grid-center;
  grid-template-rows: 1fr 1fr;
  grid-template-columns: 1fr 1fr;
  border-bottom: solid lightColor(medium) 0.07rem;
  position: sticky;
  top: 0rem;
  margin-top: 6.5rem;
  background-color: #fff;
  width: 100%;
  z-index: 5;
  padding: 0.5rem 0 0 0;

  .category-btn-m {
    grid-column: 1 / 3;
  }

  &__btn {
    width: 8rem;
    align-self: end;
    outline: none;
    background-color: #fff;
    background-color: rgba(256, 256, 256, 0);
    position: relative;
    border: none;
    cursor: pointer;
    margin-top: 0.2rem;
    padding: 0.2rem 0;
    font-size: 0.8rem;
    font-weight: bold;
    opacity: 0.5;
    &:hover {
      opacity: 0.8;
    }

    &--active {
      border-bottom: solid $primary-color 0.1rem;
      bottom: -0.08rem;
      opacity: 1;
    }
  }
}
