@import "../../../assets/styles/variables";
.edit-profile {
  h2 {
    margin: 0;
    font-size: 1.3rem;
  }
  .radio {
    @include grid-center;
    grid-auto-flow: column;
    grid-gap: 0.5rem;
    width: 3rem;
    margin: 0.5rem 0;
    cursor: pointer;
  }

  .saveBtn {
    width: 100%;
  }
  .deleteBtn {
    border: solid #c40801 0.09rem;
    text-align: center;
    color: #c40801;
    padding: 0.5rem;
    place-self: center;
    margin: 2rem;
    width: 100%;
    postion: relative;
    cursor: pointer;
    border-radius: 0.3rem;
  }
}
