.profile {
  display: grid;
  placeitems: center;
}

.profile-header {
  display: grid;
  place-items: center;
  margin-top: 2.1rem;
}

.s-mr-toggle {
  display: grid;
  grid-auto-flow: column;
  place-items: end center;
  height: 2.5rem;
  border-bottom: solid #e3e3e3 0.01rem;
  width: 100%;
  position: sticky;
  top: 2rem;
  background-color: #fff;
}
