.rate {
  border: solid #c6c6c6 0.1rem;
  border-radius: 0.5rem;
  width: 99%;
  position: fixed;
  left: 0;
  right: 0;
  margin: auto;
  background-color: #fff;
  z-index: 2;
  padding: 0.5rem;
}

.rate h2 {
  text-align: center;
  margin: 0 auto 0.5rem auto;
  font-size: 1.3rem;
  padding: 0.2rem 0;
  width: 90%;
  border-bottom: solid #ededed 0.05rem;
}

.rate textarea {
  border: solid #a3a3a3 0.08rem;
  border-radius: 0.3rem;
  width: 100%;
  resize: vertical;
  min-height: 7rem;
  max-height: 9rem;
  padding: 0.5rem;
  font-size: 1.1rem;
}

.submit-review {
  background-color: #0172c4;
  color: #fff;
  text-align: center;
  padding: 0.5rem;
  width: 70%;
  margin: 0.5rem auto;
  font-size: 1.3rem;
  border-radius: 5rem;
  font-weight: 600;
}

.review-details {
  margin: 2rem 0;
}
