.rating {
  display: grid;
  grid-template-columns: 7rem fit-content(5rem);
  place-items: center;
  grid-template-rows: 1.5rem;
}

.stars {
  display: grid;
  grid-auto-flow: column;
  place-items: center;
  grid-gap: 1px;
}

.votes {
  font-size: 1rem;
}
