@import "../../../assets/styles/variables";

.recipe-card-rating {
  display: grid;
  grid-template-columns: repeat(2, min-content);
  place-items: center;
  grid-gap: 0.25rem;

  &__stars {
    display: grid;
    grid-auto-flow: column;
    place-items: center;
    grid-gap: 1px;
  }

  &__votes {
    font-size: 0.75rem;
    line-height: 0.9rem;
  }
  &__arrow {
    display: none;
  }
}

.recipe-rating {
  @extend .recipe-card-rating;
  grid-template-columns: repeat(3, min-content);
  cursor: pointer;
  position: relative;

  &:hover {
    opacity: 0.8;
  }

  &__stars {
    @extend .recipe-card-rating__stars;
  }

  &__votes {
    @extend .recipe-card-rating__votes;
    font-size: 0.8rem;
    color: darkColor(medium);
  }

  &__arrow {
    transform: rotate(-90deg);
    width: 0.9rem;
    fill: red !important;
  }
}
