@import "../../../assets/styles/variables";

.hero {
  position: relative;
  display: grid;
  place-items: center;
  background: linear-gradient(rgba(0, 0, 0, 0.7)),
    url("https://res.cloudinary.com/mikebilyeuimg/image/upload/q_auto:low/v1580746441/Recipes/lukas-blazek-f-TWhXOrLiU-unsplash.jpg")
      no-repeat 5% 20%;
  background-size: cover;
  width: 100%;
  height: 50vw;
  height: 90vh;
  color: #fff;

  &__container {
    width: 80%;
    max-width: 48rem;
    margin: 0rem auto 3rem auto;
  }

  &__title {
    font-size: 2.5rem;
    margin: 0 0 0.75rem 0;
  }

  &__desc {
    font-size: 0.9rem;
    line-height: 1.4rem;
    margin: 0 0 2.5rem 0;
  }

  .search-bar {
    height: 3rem;
    max-width: 100%;
    margin: 0;
    border-radius: 0.3rem;
    border: none;
    background-color: #ffff;
  }

  &__img-credit {
    opacity: 0.5;
    position: absolute;
    bottom: 0.5rem;
    right: 1rem;
    font-size: 0.75rem;
  }

  &__img-src {
    color: #fff;
    &:hover {
      text-decoration: underline;
    }
  }
}
