@import "../../../assets/styles/variables";

.hero-img {
  position: absolute;
  background: linear-gradient(rgba(0, 0, 0, 0)) no-repeat 30% 30%;
  background-size: cover;
  width: 100%;
  height: 90vh;
  min-height: 27rem;
  z-index: -1;
  transition: opacity 2s, transform 1s;
  opacity: 0;
  &--loaded-small {
    background: linear-gradient(rgba(0, 0, 0, 0)),
      url("https://res.cloudinary.com/mikebilyeuimg/image/upload/c_scale,q_auto:low,w_50,e_blur:100/v1594146289/Recipes/joanna-kosinska-Prfs32wh-o4-unsplash.jpg")
        no-repeat 30% 30%;
    background-size: cover;
    opacity: 1;
  }

  &--loaded-big {
    background: linear-gradient(rgba(0, 0, 0, 0)),
      url("https://res.cloudinary.com/mikebilyeuimg/image/upload/v1594146289/Recipes/joanna-kosinska-Prfs32wh-o4-unsplash.jpg")
        no-repeat 30% 30%;
    background-size: cover;
    opacity: 1;
  }
}

.hero {
  overflow: hidden;
  position: relative;
  display: grid;
  place-items: center;
  width: 100%;
  height: 90vh;
  min-height: 27rem;
  color: #fff;
  border-bottom: solid lightColor(light) 1px;
  * {
    //  border: solid red;
  }
  &__container {
    width: 95%;
    max-width: 48rem;
    margin: 0rem auto 3rem auto;
    color: darkColor(dark);

    &--loaded {
      .hero__title,
      .hero__desc,
      .search-bar {
        opacity: 1 !important;
        transform: translate(0, 0) !important;
      }
    }
  }

  &__title {
    width: 9rem;
    position: absolute;
    transform: translateX(-2rem);
    opacity: 0;
    transition: opacity 1s 0.5s, transform 1s 0.5s;
  }

  &__desc {
    font-size: 0.8rem;
    line-height: 1.2rem;
    margin: 3rem 0 2rem 0;
    transform: translateX(2rem);
    opacity: 0;
    transition: opacity 1s 0.5s, transform 1s 0.5s;
  }

  .search-bar {
    position: relative;
    right: auto !important;
    width: 100%;
    min-width: 10rem;
    animation: none;
    height: 3rem;
    border-radius: 0.3rem;
    border: none;
    background-color: #ffff;
    transform: translateY(1rem);
    opacity: 0;
    transition: opacity 1.5s 1.25s, transform 1.5s 1.25s,
      box-shadow 0.2s ease-in;

    &--active {
      box-shadow: 0 0 0 0.25rem rgba(0, 0, 0, 0.2);
    }
  }
}

@media (min-device-width: 650px) {
  .hero {
    &__container {
      width: 80%;
      max-width: 48rem;
    }

    &__desc {
      white-space: pre;
      font-size: 0.9rem;
      line-height: 1.4rem;
    }
  }
}

@media (min-width: 1500px) {
  .hero {
    &__title {
      font-size: 4rem;
    }

    &__desc {
      font-size: 1.1rem;
    }
  }
}
