@import "../../assets/styles/variables";

.form {
  padding: 2rem 0.6rem;
  @include grid-center;
  grid-gap: 5rem;

  label {
    color: darkColor(medium);
    font-size: 0.9rem;
    @include grid-center width: 100%;
  }

  textarea {
    -webkit-appearance: none;
    background: none;
    border: 0;
    outline: 0;
    padding: 0.5rem;
    width: 100%;
    max-width: 55rem;
    appearance: none;

    font-size: 1rem;
    color: darkColor(medium);
    &::placeholder {
      color: lightColor(medium);
    }
    border: solid lightColor(light) 0.08rem;
    border-radius: 0.2rem;
    resize: none;
  }

  input {
    background: none;
    border: 0;
    outline: 0;
    padding: 0.1rem 0;
    width: 100%;
    appearance: none;

    font-size: 1.15rem;
    border-radius: 0;
    color: darkColor(medium);
    text-align: center;
    border-bottom: solid darkColor(dark) 0.1rem;
    grid-row: 1;
    &::placeholder {
      color: lightColor(medium);
    }
  }

  ul {
    padding: 0;
  }

  li {
    list-style-type: none;
  }

  h2 {
    text-align: center;
    color: darkColor(dark);
    padding: 0.5rem 0;
    width: 15rem;
    margin: auto;
    font-size: 1.3rem;
  }
}

.title {
  margin-top: 3rem;
  font-weight: fontWeight(normal);
}

.ingredientsContainer,
.directionsContainer,
.categoriesContainer,
.keywordsContainer {
  @include grid-center;
  grid-gap: 1rem;
  width: 100%;
}

.ingredientsContainer {
  .yield {
    width: 7rem;
  }

  ul {
    justify-self: start;
    width: calc(100% - 0.5rem);
    margin-left: 0.5rem;
    li {
      margin: 1rem 0;
      display: flex;
      align-items: baseline;

      button {
        border: none;
        margin-right: 0.5rem;
        cursor: pointer;
      }

      .ingredientInput {
        border: none;
        text-align: left;
        cursor: text;
      }
      .active {
        border-bottom: solid darkColor(dark) 0.1rem;
      }
      .unactive {
        opacity: 0.2;
      }
    }
  }

  input {
    font-weight: fontWeight(normal);
  }

  input[type="number"] {
    &::-webkit-inner-spin-button,
    &::-webkit-outer-spin-button {
      -webkit-appearance: none;
      margin: 0;
    }
  }
}

.directionsContainer {
  .time {
    @include grid-center;
    grid-template-columns: 1fr 1fr;
    border-bottom: solid darkColor(medium) 0.1rem;
    grid-gap: 1rem;
    label {
      @include grid-center;
      cursor: text;
      align-items: baseline;
      grid-template-columns: 2rem 2rem;
      .hours,
      .minutes {
        text-align: right;
        grid-column: 1;
        border: none;
        font-weight: fontWeight(normal);
        &::placeholder {
          color: lightColor(medium);
        }
      }
    }
  }

  .timeLabel {
    margin-top: -1rem;
    margin-bottom: 2rem;
  }

  .directions {
    height: 10rem;
  }

  .footnote {
    height: 10rem;
    font-style: italic;
  }
}

.categoriesContainer {
  grid-gap: 1rem;

  .list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    width: 100%;
    margin-top: -0.5rem;
    // @include grid-center;
    // grid-template-columns: 1fr 1fr;
    // grid-row-gap: 1rem;
    // width: 100%;

    .btn {
      text-transform: capitalize;
      font-size: 1rem;
      margin: 0.5rem;
      padding: 1rem;

      text-align: center;
      color: darkColor(medium);
      border: none;
      cursor: pointer;
      &:hover {
        opacity: 0.8;
        color: $primary-color;
      }

      &:focus {
        outline: 0;
      }
    }
    .active {
      @extend .btn;
      color: $primary-color;
      border-radius: 50rem;
      font-weight: bold;

      &:hover {
        opacity: 0.8;
      }
    }
  }
}

.keywordsContainer {
  @extend .categoriesContainer;
  .list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    width: 100%;
    .removeBtn {
      margin: 0.1rem;
      @extend .active;
      border-radius: 0.5rem;
      font-weight: normal;
      color: darkColor(medium);
      border: solid lightColor(dark) 0.05rem;
      white-space: nowrap;
      overflow: hidden;
      display: inline-block;
      width: auto;
      padding: 0.5rem 1.5rem 0.5rem 1rem;

      &:focus {
        outline: 0;
      }

      &:hover {
        color: darkColor(medium);
        opacity: 0.5;
      }
    }
  }
}

.submitBtn {
  border: none;
  outline: none;
  cursor: pointer;
  font-size: 1.2rem;
  border: solid $primary-color 0.09rem;
  font-weight: bold;
  color: $primary-color;
  border-radius: 0.3rem;
  background-color: #fff;
  height: 2.7rem;
  width: 80%;
  max-width: 20rem;
  place-self: center;
}

.scrapeContainer {
  @include grid-center;
  border-bottom: solid lightColor(light) 0.01rem;
  width: 100%;
}
.scrapebtn {
  @extend .submitBtn;
  border: solid lightColor(dark) 0.05rem;
  background: rgb(2, 0, 36);
  background: linear-gradient(
    180deg,
    rgba(2, 0, 36, 1) 0%,
    rgba(255, 255, 255, 1) 0%,
    rgba(213, 213, 213, 1) 100%
  );
  box-shadow: 0 0.5rem 0.5rem lightColor(medium);
  color: darkColor(dark);
  font-weight: 500;
  margin: 5rem auto;
  font-size: 0.9rem;
}

.imageInputBtn {
  @extend .submitBtn;
  @extend .scrapebtn;
  border: solid #dda100 0.05rem;
  background: rgb(2, 0, 36);
  background: linear-gradient(
    180deg,
    rgba(2, 0, 36, 1) 0%,
    rgba(255, 235, 180, 1) 0%,
    rgba(255, 186, 0, 1) 100%
  );
}
