@import "../../assets/styles/variables";

.form {
  padding: 2rem 0.6rem;
  @include grid-center;
  grid-gap: 3rem;

  label {
    color: darkColor(light);
    font-size: 1drem;
    @include grid-center width: 100%;
  }

  textarea {
    -webkit-appearance: none;
    background: none;
    border: 0;
    outline: 0;
    padding: 0.5rem;
    width: 100%;
    max-width: 55rem;
    appearance: none;

    font-size: 1rem;
    color: darkColor(medium);
    &::placeholder {
      color: darkColor(light);
    }
    border: solid lightColor(light) 0.08rem;
    border-radius: 0.2rem;
    resize: none;
  }

  input {
    background: none;
    border: 0;
    outline: 0;
    padding: 0.1rem 0;
    width: 100%;
    appearance: none;

    font-size: 1.15rem;
    border-radius: 0;
    color: darkColor(medium);
    text-align: center;
    border-bottom: solid darkColor(dark) 0.1rem;
    grid-row: 1;
  }

  ul {
    padding: 0;
  }

  li {
    list-style-type: none;
  }

  h2 {
    text-align: center;
    color: darkColor(dark);
    padding: 0.5rem 0;
    width: 15rem;
    margin: auto;
    font-size: 2rem;
  }
}

.title {
  font-size: 1.5rem !important;
  margin-top: 3rem;
  font-weight: fontWeight(normal);
  &::placeholder {
    opacity: 0.2;
  }
}

.ingredientsContainer,
.directionsContainer,
.categoriesContainer,
.keywordsContainer {
  @include grid-center;
  grid-gap: 1rem;
  width: 100%;
}

.ingredientsContainer {
  .yield {
    width: 10rem;
  }

  ul {
    justify-self: start;
    width: calc(100% - 0.5rem);
    margin-left: 0.5rem;
    li {
      margin: 1rem 0;
      display: flex;
      align-items: baseline;

      button {
        border: none;
        margin-right: 0.5rem;
        cursor: pointer;
      }

      .ingredientInput {
        border: none;
        text-align: left;
        cursor: text;
      }
      .active {
        border-bottom: solid darkColor(dark) 0.1rem;
      }
      .unactive {
        opacity: 0.2;
      }
    }
  }

  input {
    font-weight: fontWeight(normal);
    &::placeholder {
      opacity: 0.2;
    }
  }

  input[type="number"] {
    &::-webkit-inner-spin-button,
    &::-webkit-outer-spin-button {
      -webkit-appearance: none;
      margin: 0;
    }
  }
}

.directionsContainer {
  .time {
    @include grid-center;
    grid-template-columns: 1fr 1fr;
    border-bottom: solid darkColor(medium) 0.1rem;
    grid-gap: 1rem;
    label {
      @include grid-center;
      cursor: text;
      align-items: baseline;
      grid-template-columns: 2rem 2rem;
      .hours,
      .minutes {
        text-align: right;
        grid-column: 1;
        border: none;
        font-weight: fontWeight(normal);
        &::placeholder {
          opacity: 0.2;
        }
      }
    }
  }

  .timeLabel {
    margin-top: -1rem;
    margin-bottom: 2rem;
  }

  .directions {
    height: 25rem;
  }

  .footnote {
    height: 10rem;
    font-style: italic;
  }
}

.categoriesContainer {
  grid-gap: 1rem;

  .list {
    margin-top: -0.5rem;
    @include grid-center;
    grid-template-columns: 1fr 1fr;
    grid-row-gap: 1rem;
    width: 100%;

    .btn {
      text-transform: capitalize;
      font-size: 1rem;
      padding: 0.5rem 0;
      width: 9rem;
      text-align: center;
      color: darkColor(medium);
      border: none;
      cursor: pointer;

      &:hover {
        opacity: 0.8;
        color: $primary-color;
      }

      &:focus {
        outline: 0;
      }
    }
    .active {
      @extend .btn;
      color: $primary-color;
      border-radius: 50rem;
      font-weight: bold;

      &:hover {
        opacity: 0.8;
      }
    }
  }
}

.keywordsContainer {
  @extend .categoriesContainer;
  .list {
    grid-template-columns: 1fr;
    .removeBtn {
      @extend .active;
      color: darkColor(medium);
      border: solid $error-color 0.05rem;
      white-space: nowrap;
      overflow: hidden;
      display: inline-block;
      width: auto;
      padding: 0.5rem 2rem;

      &:focus {
        outline: 0;
      }

      &:hover {
        color: darkColor(medium);
        opacity: 0.5;
      }
    }
  }
}

.submitBtn {
  width: 95%;
  background-color: $primary-color;
  border-radius: 50rem;
  color: white;
  padding: 0.5em 0;
  border: none;
  font-size: 1.2rem;
  cursor: pointer;
  &:hover {
    opacity: 0.8;
  }
}
