@import "../../assets/styles/variables";

.form {
  padding: 2rem 0.6rem;
  position: relative;
  top: 3rem;
  @include grid-center;
  grid-gap: 5rem;

  label {
    color: darkColor(medium);
    font-size: 0.9rem;
    width: 100%;
  }

  textarea {
    -webkit-appearance: none;
    background: none;
    border: 0;
    outline: 0;
    padding: 0.5rem;
    width: 100%;
    max-width: 55rem;
    appearance: none;

    font-size: 1rem;
    color: darkColor(medium);
    &::placeholder {
      color: lightColor(medium);
    }
    &:focus {
      border: solid darkColor(dark) 0.08rem;
    }
    border: solid lightColor(dark) 0.08rem;
    border-radius: 0.2rem;
    resize: none;
  }

  input {
    background: none;
    border: 0;
    outline: 0;
    padding: 0.6rem 0;
    width: 100%;
    appearance: none;

    font-size: 1.15rem;
    border-radius: 0;
    color: darkColor(medium);
    text-align: center;
    border: solid lightColor(dark) 0.08rem;
    border-radius: 0.2rem;
    &::placeholder {
      color: lightColor(medium);
    }
    &:focus {
      border: solid darkColor(dark) 0.08rem;
    }
  }

  ul {
    padding: 0;
  }

  li {
    list-style-type: none;
  }

  h2 {
    text-align: center;
    color: darkColor(dark);
    padding: 0.5rem 0;
    width: 15rem;
    margin: auto;
    font-size: 1.3rem;
  }
}

.ingredientsContainer,
.directionsContainer,
.categoriesContainer,
.keywordsContainer {
  @include grid-center;
  grid-gap: 1rem;
  width: 100%;
}

.ingredientsContainer {
  @include grid-center;
  grid-gap: 2rem;

  .ingredients {
    height: 10rem;
    white-space: nowrap;
    overflow: auto;
  }
}

.directionsContainer {
  .time {
    grid-template-columns: 1fr 1fr;
    grid-gap: 1rem;

    .border {
      &:focus-within {
        border: solid darkColor(dark) 0.08rem;
      }

      @include grid-center;
      grid-template-columns: 1fr 1fr;
      border: solid lightColor(dark) 0.08rem;
      border-radius: 0.2rem;
      label {
        &:focus-within {
          color: $primary-color;
        }
        text-align: center;
        position: relative;
        height: 2.75rem;
        line-height: 2.75rem;
        &:first-child {
          text-indent: 3rem;
        }
      }

      .hours,
      .minutes {
        left: 0;
        position: absolute;
        text-align: center;
        width: 100%;
        border: none !important;
        &::placeholder {
          color: lightColor(medium);
        }
      }
      .minutes {
        text-indent: -3.5rem;
      }
    }

    cursor: text;
    align-items: baseline;
    grid-template-columns: 2rem 2rem;
  }

  .timeLabel {
    margin-top: -1rem;
    margin-bottom: 2rem;
  }

  .directions {
    height: 10rem;
  }

  .footnote {
    height: 10rem;
    font-style: italic;
  }
}

.categoriesContainer {
  grid-gap: 1rem;

  .list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    width: 100%;
    margin-top: -0.5rem;
    // @include grid-center;
    // grid-template-columns: 1fr 1fr;
    // grid-row-gap: 1rem;
    // width: 100%;

    .btn {
      text-transform: capitalize;
      font-size: 1rem;
      margin: 0.5rem;
      padding: 0.5rem;

      text-align: center;
      color: darkColor(medium);
      background-color: #fff;
      border: none;
      cursor: pointer;
      &:hover {
        opacity: 0.8;
        color: $primary-color;
      }

      &:focus {
        outline: 0;
      }
    }
    .active {
      @extend .btn;
      color: $primary-color;
      border-radius: 50rem;
      font-weight: bold;

      &:hover {
        opacity: 0.8;
      }
    }
  }
}

.keywordsContainer {
  @extend .categoriesContainer;
  font-size: 1rem;
  .list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    width: 100%;
    .removeBtn {
      margin: 0.1rem;
      @extend .active;
      border-radius: 0.5rem;
      font-weight: normal;
      color: darkColor(medium);
      border: solid lightColor(dark) 0.05rem;
      white-space: nowrap;
      overflow: hidden;
      display: inline-block;
      width: auto;
      padding: 0.5rem 1.5rem 0.5rem 1rem;

      &:focus {
        outline: 0;
      }

      &:hover {
        color: darkColor(medium);
        opacity: 0.5;
      }
    }
  }
}

.submitBtn {
  border: none;
  outline: none;
  cursor: pointer;
  font-size: 1.2rem;
  border: solid $primary-color 0.09rem;
  font-weight: bold;
  color: $primary-color;
  border-radius: 0.3rem;
  background-color: #fff;
  height: 2.7rem;
  width: 90%;
  max-width: 20rem;
  place-self: center;
}

.scrapebtn {
  @include grid-center;
  width: 100%;
  height: 10rem;
  background-color: lightColor(light);
  border-radius: 0.2rem;

  outline: none;
  border: none;
  cursor: pointer;
  color: $primary-color;
  font-size: 1rem;

  &:hover {
    opacity: 0.8;
  }

  .URL {
    color: lightColor(dark);
    font-size: 0.8rem;
    margin-top: 0.5rem;
    width: 90vw;
    overflow-x: hidden;
    white-space: wrap;
  }
}

.imageInput {
  position: relative;
  text-align: center;
  @extend .scrapebtn;
  background-size: 100% auto;
  background-position: center;
  background-repeat: no-repeat;
  border-radius: 0.2rem;
  outline: none;
  border: none !important;
  cursor: pointer;
  font-size: 1rem;
  height: 10rem;

  span {
    padding: 0.7rem 2.3rem;
    opacity: 0.8;
    background-color: lightColor(light);
    border-radius: 2rem;
    z-index: 1;
  }

  img {
    width: 100%;
    height: 10rem;
    object-fit: cover;
    position: absolute;
  }
}

.imageInputBtn {
  @extend .scrapebtn;
  padding: 0;
}
