@import "../../assets/styles/variables";

.header-d {
  background-color: #fff;
  width: 100%;
  z-index: 5;
  overflow: hidden;
  position: fixed;
  top: 0rem;
  padding: 0.4rem 0.1rem;
  border-bottom: solid lightColor(medium) 0.05rem;
  margin: 0 auto;
  display: grid;
  align-items: center;
  grid-template-columns: 1fr 4fr 4fr 2fr;
  grid-template-rows: 2rem 2rem;
  grid-row-gap: 0.25rem;
  grid-column-gap: 1rem;

  &__logo {
    justify-self: center;

    img {
      width: 6.5rem;
    }

    &:hover {
      opacity: 0.9;
    }
  }

  .search-bar {
    grid-column: 2 / 4;
  }

  .auth-btns {
    border-left: solid lightColor(medium) 0.05rem;
    height: 2.2rem;
    width: 100%;
    padding: 0 1rem;
    grid-column: 4 / 5;
    display: grid;
    grid-auto-flow: column;

    grid-gap: 1.5rem;
    place-items: center;
    justify-self: end;
    font-size: 0.75rem;
    user-select: none;

    &__login,
    &__signup {
      padding: 0.3rem 0.7rem;
      white-space: nowrap;
    }

    &__login {
      color: darkColor(medium);
      justify-self: end;
      @media (hover: hover) {
        &:hover {
          color: $primary-color;
        }
      }
    }

    &__signup {
      justify-self: start;
      border: solid $primary-color 0.08rem;
      border-radius: 50rem;
      color: $primary-color;
      @media (hover: hover) {
        &:hover {
          color: #fff;
          background-color: $primary-color;
        }
      }
      &:active {
        @include btn-active;
      }
    }

    &__profile {
      padding: 0 1rem;
      height: 1.9rem;
      outline: none;
      img {
        width: 1.9rem;
        height: 1.9rem;
        object-fit: cover;
        border-radius: 50%;
        box-shadow: 0 0 0 0.1rem #fff;
      }

      &:hover {
        img {
          box-shadow: 0 0 0 0.08rem $primary-color;
        }
      }
    }

    &__home {
      user-select: none;
      padding: 0.3rem 1rem;
      color: darkColor(medium);
      &:hover {
        color: $primary-color;
      }
    }

    &__create {
      user-select: none;
      border: solid lightColor(dark) thin;
      white-space: nowrap;
      padding: 0.3rem 0.75rem;
      color: darkColor(light);
      font-weight: medium;
      border-radius: 0.2rem;

      &:hover {
        border-color: $primary-color;
        color: $primary-color;
      }
    }
  }

  // header-d Categories horizontal list
  .filter-results-category {
    user-select: none;
    border: none !important;
    display: block !important;
    padding: 0 0.5rem !important;
    justify-items: start;
    border-radius: 0 !important;
    position: static !important;
    width: 100% !important;
    grid-column: 1 / 3;
    box-shadow: none;
    background-color: inherit;
    &__title {
      display: none;
    }

    .filter-list {
      margin: 0;
      display: grid;
      width: 100%;
      max-width: 40rem;
      min-width: 30rem;
      grid-auto-flow: column;
      place-items: center;

      &__option {
        width: 100%;
        font-size: 0.75rem;
        padding: 0.2rem 0rem;
        display: inline-block;
        white-space: nowrap;
        margin-top: 0.2rem;
        margin-bottom: 0.1rem;
        &:hover {
          background-color: #fff !important;
        }

        &--active {
          color: darkColor(medium);
          font-weight: normal;
          margin-bottom: 0;
          border-bottom: solid $primary-color 0.1rem;
        }
      }
    }
  }
}

// Small screens
@media (max-width: 475px) {
  .header-d {
    grid-gap: 0.5rem;
    grid-template-columns: 1fr 3fr 3fr 1fr;
  }
}

@media (max-width: 630px) {
  .header-d {
    .auth-btns {
      border: none;
      grid-gap: 0.25rem;
      padding: 0 0.25rem;
      &__create {
        //display: none;
      }
    }
  }
}

@media (max-width: 669px) {
  .header-d {
    .filter-results-category {
      display: none !important;
    }
  }
}

@media (max-width: 700px) {
  .header-d {
    .auth-btns {
      &__home {
        display: none;
      }
    }
  }
}

// Desktop view
@media (min-width: 670px) {
  .home {
    .header-d {
      .category-btn-d {
        display: none;
      }
    }
  }
}

@media (min-width: 670px) {
  .home > .filter-results-category {
    display: none;
  }
}
