@import "../../../../assets/styles/variables";

.profile-home {
  .user-info {
    @include grid-center;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 3.5rem;
    grid-gap: 0rem;
    left: 0;
    width: 100%;
    top: 0;
    position: fixed;
    z-index: 3;
    background-color: #fff;
    padding: 0.5rem 2rem 0rem 0.5rem;

    &__edit {
      grid-column: 1 / 2;
      @include grid-center;
      &:hover {
        opacity: 0.9;
      }
      img {
        float: left;
        width: 3.5rem;
        height: 3.5rem;
        border-radius: 100%;
        border: solid lightColor(medium) 0.08rem;
        padding: 0.1rem;
      }
    }

    &__full-name {
      display: none;
      word-wrap: nowrap;
      align-self: center;
      grid-column: 2 / 3;
      grid-row: 1 / 2;
      font-size: 1rem;
      font-weight: medium;
      color: darkColor(dark);
      margin: 0;
    }

    &__username {
      display: none;
      word-wrap: nowrap;
      align-self: center;
      grid-column: 2 / 3;
      grid-row: 2 / 3;
      font-size: 0.8rem;
      font-weight: medium;
      color: darkColor(dark);
      margin: 0;
    }

    &__edit-profile-btn {
      display: none;
    }

    &__create-recipe {
      grid-column: 2 / 3;

      border: solid lightColor(dark) 0.09rem;
      white-space: nowrap;
      padding: 0.25rem 1.5rem;
      color: darkColor(light);
      font-weight: medium;
      font-size: 0.75rem;
      border-radius: 0.2rem;
    }
  }
}
