@import "../../assets/styles/variables";

// Mobile styles
.sort-btn {
  border: none;
  background-color: #fff;
  outline: none;
  cursor: pointer;
  line-height: 1rem;
  color: darkColor(medium);
  font-size: 0.6rem;
  width: 3rem;
  height: 2.5rem;
  justify-self: start;

  &__icon {
    padding: 0;
    width: 1.1rem;
    margin: 0 auto;
  }
}

// Desktop styles
.sort-btn-d {
  @extend .sort-btn;

  width: 9rem;
  height: 2rem;
  justify-self: end;
  grid-column: 3 / 5;
  margin-right: 1rem;
  font-size: 0.75rem;

  &__icon {
    width: 0.7rem;
    height: 1rem;
    position: relative;
    top: 0.2rem;
    left: 0.5rem;
  }

  &__icon,
  &__sort-by {
    display: inline;
  }
}
