@import "../../assets/styles/variables";

.arrow-style {
  border: none;
  background-color: #fff;
  outline: none;
  cursor: pointer;
  justify-self: start;
  font-size: 0.7rem;
  color: darkColor(medium);
  width: 2.8rem;

  .sort-icon {
    width: 1.3rem;
    padding: 0;
  }

  .sortBy {
    position: absolute;
    display: inline;
    top: 1.45rem;
    left: 2.2rem;
    font-size: 0.55rem;
    color: darkColor(light);
  }
}
