@import "../../assets/styles/variables";

.sort-btn {
  border: none;
  background-color: #fff;
  outline: none;
  cursor: pointer;
  line-height: 1rem;
  color: darkColor(medium);
  font-size: 0.75rem;

  &:hover {
    color: $primary-color;
  }

  &__mobile-icon {
    padding: 0;
    width: 1.1rem;
    margin: 0 auto;
  }

  &__desktop-icon {
    width: 0.7rem;
    height: 1rem;
    position: relative;
    top: 0.2rem;
    left: 0.5rem;
  }

  // Mobile screen size
  @media (max-width: 649px) {
    width: 3rem;
    height: 3rem;
    justify-self: start;

    &__desktop-sort-by,
    &__desktop-icon {
      display: none;
    }

    &__mobile-icon {
      display: block !important;
    }
  }

  // Desktop screen size
  @media (min-width: 650px) {
    justify-self: end;
    margin-right: 1rem;
    width: 9rem;
    height: 2rem;

    &__desktop-icon,
    &__desktop-sort-by {
      display: inline;
    }

    &__mobile-icon,
    &__mobile-sort-by {
      display: none !important;
    }
  }
}
