@import "../../../assets/styles/variables";

.auth-header {
  display: grid;
  grid-template-columns: 1fr 1fr;
  place-items: end center;
  border-bottom: solid lightColor(light) 0.09rem;
  width: 100%;
  position: fixed;
  background-color: #fff;
  z-index: 1;

  &__btn {
    display: block;
    width: 90%;
    text-align: center;
    cursor: pointer;
    background-color: #fff;
    border: none;
    outline: none;
    border-bottom: none;
    padding: 1rem 0.7rem 0.2rem 0.7rem;
    margin-bottom: 0.1rem;
    font-size: 0.85rem;
    color: $primary-color;

    &--active {
      font-weight: bold;
      color: darkColor(dark);
      cursor: inherit;
      opacity: 1;
      border-bottom: solid darkColor(medium) 0.1rem;
      margin-bottom: 0;
    }
  }
}
