@import "../../assets/styles/variables";

.filter-btn {
  border: solid lightColor(medium) 0.07rem;
  background-color: #fff;
  border-radius: 0.5rem;
  outline: none;
  cursor: pointer;
  font-size: 0.9rem;
  margin: 0.4rem;
  padding: 0.4rem;
  width: 100%;
  min-width: 7rem;
  max-width: 12rem;
  place-self: center;
  color: darkColor(medium);
  font-weight: medium;
  position: relative;

  &.filter-active {
    border: solid $primary-color 0.07rem;
    color: $primary-color;
  }

  .filter-arrow {
    width: 0.8rem;
    position: absolute;
    top: 0.6rem;
    right: 0.35rem;
    transition: all 0.2s ease-out;
    fill: lightColor(medium);
    &.filter-active {
      transform: rotate(90deg);
      fill: $primary-color;
    }
  }
}

.filter-btn.filter-select {
  //color: $primary-color;
  //border: solid $primary-color 0.07rem;
}

.filter-btn.diet {
  grid-area: Diet;
}

.filter-btn.meal {
  grid-area: Meal;
}
