@import "../../../../assets/styles/variables";

.edit-profile {
  .header {
    @include grid-center;
    grid-template-columns: 4rem 1fr 4rem;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #fff;

    .back-btn {
      @include grid-center;
      grid-auto-flow: column;
      justify-self: start;
      cursor: pointer;
      padding: 1rem 2rem 1rem 1rem;
      width: 4rem;
    }

    h2 {
      margin: 0;
      font-size: 1.2rem;
      color: darkColor(medium);
    }
  }
}
