@import "../../../assets/styles/variables";

.searchBar {
  height: 2.3rem;
  grid-area: search;
  justify-self: end;
  border-radius: 0.5rem;
  z-index: 1;
  background-color: #fff;
  display: grid;
  grid-template-columns: 2.2rem 1fr;
  box-sizing: border-box;

  .searchIcon {
    width: 2.4rem;
    cursor: pointer;
    padding: 0.5rem;
  }

  .input {
    all: unset;
    font-size: 1rem;
    caret-color: #676767;
    color: darkColor(dark);
    -webkit-text-fill-color: darkColor(dark);
    opacity: 1; /* required on iOS */

    &::placeholder {
      /* Chrome, Firefox, Opera, Safari 10.1+ */
      color: #000;
      opacity: 0.2; /* Firefox */
    }
  }
}

.searchBar.search-active {
  background-color: lightColor(medium);
  grid-column: 1 / 4;
  animation: expand 0.2s linear forwards;
}

@-webkit-keyframes expand {
  0% {
    width: 2.2rem;
  }
  100% {
    width: 100%;
  }
}
@-moz-keyframes expand {
  0% {
    width: 2.2rem;
  }
  100% {
    width: 100%;
  }
}
@-o-keyframes expand {
  0% {
    width: 2.2rem;
  }
  100% {
    width: 100%;
  }
}
@keyframes expand {
  0% {
    width: 2.2rem;
  }

  100% {
    width: 100%;
  }
}
