@import "../../assets/styles/variables";

.filter-results-sort,
.filter-results-category {
  @include grid-center;
  grid-gap: 0.5rem;
  text-align: center;
  padding: 0.5rem;
  margin: 0 auto;
  box-shadow: 0 0.4rem 1rem 0 rgba(0, 0, 0, 0.08);
  border-radius: 0 0 0.8rem 0.8rem;
  background-color: #fff;
  width: 100%;
  z-index: 2;

  &__title {
    font-size: 1rem;
    color: darkColor(medium);
    font-weight: medium;
    padding: 0.5rem 3rem;
    margin: 0;
    text-transform: capitalize;
  }

  .filter-list {
    padding: 0;
    margin: 0;

    &__option {
      padding: 0.4rem 0;
      background-color: rgba(0, 0, 0, 0);
      width: 6rem;
      cursor: pointer;
      color: darkColor(medium);
      border: none;
      outline: none;
      font-size: 0.8rem;
      &:hover {
        color: $primary-color;
      }

      &--active {
        color: darkColor(medium);
        color: $primary-color;
      }
    }
  }
}

@media (max-device-width: 649px) {
  .filter-results-sort,
  .filter-results-category {
    animation: 0.2s 0s 1 ease-out alternate slide-down;

    &__title,
    .filter-list {
      opacity: 0;
      animation: 0.3s 0.2s 1 ease-out forwards fade-in;
    }
  }
}

@keyframes slide-down {
  from {
    margin-top: -11rem;
  }
  to {
    margin-top: 0;
  }
}

@keyframes fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
