@import "../../assets/styles/variables";

.search-bar {
  position: absolute;
  padding: 0 0.5rem;
  background-color: #fff;
  height: 2.2rem;
  width: 3rem;
  right: 0.25rem;
  border-radius: 50rem;
  border: solid #fff 0.08rem;
  z-index: 1;
  justify-self: center;
  display: grid;
  grid-template-columns: 2rem 1fr;
  box-sizing: border-box;
  cursor: text;
  transition: all 0.2s ease-in;

  &__icon {
    width: 100%;
    margin: auto;
    padding: 0.5rem;
    fill: darkColor(light);

    &--active {
      fill: darkColor(dark);
    }
  }

  &__input {
    all: unset;
    font-size: 0.75rem;
    width: calc(100% - 0.5rem);
    caret-color: #676767;
    color: darkColor(dark);
    -webkit-text-fill-color: darkColor(dark);
    opacity: 1; /* required on iOS */

    &::placeholder {
      /* Chrome, Firefox, Opera, Safari 10.1+ */
      color: #000;
      opacity: 0.6; /* Firefox */
    }
  }

  &--active {
    background-color: #fff;
    animation: expand 0.3s linear forwards;
  }
}

@media (min-device-width: 650px) {
  .search-bar {
    background-color: lightColor(light);
    border: solid lightColor(light) 0.08rem;
    position: relative;
    right: auto;
    width: 100%;
    max-width: 45rem;
    min-width: 10rem;
    animation: none;

    &--active {
      border: solid lightColor(dark) 0.08rem;
      background-color: #fff;
    }
  }
}

@keyframes expand {
  0% {
    width: 3rem;
  }

  100% {
    width: calc(100% - 0.5rem);
  }
}
