@import "../../../assets/styles/variables";

.edit-recipe-header {
  display: grid;
  grid-template-columns: 4rem 1fr 4rem;
  place-items: center;

  &__cancel-btn {
    color: $primary-color;
    font-size: 0.9rem;
  }

  &__title {
    font-size: 1.2rem;
    text-align: center;
    color: darkColor(medium);
  }
}
