@import "../../assets/styles/variables";

.navBar {
  position: fixed;
  width: 100%;
  bottom: 0;
  @include grid-center;
  grid-auto-flow: column;
  user-select: none;
  border-top: solid 0.01rem lightColor(light);
  background-color: rgba(256, 256, 256, 0.9);
  -webkit-backdrop-filter: blur(2px);
  backdrop-filter: blur(2px);
  z-index: 2;

  a {
    display: block;
    width: 100%;
    text-align: center;
    line-height: 4.25rem;
    font-size: 0rem;
    margin: 0rem;
    height: 2.75rem;
  }
}

.navIcon {
  width: 1.5rem;
  path {
    stroke-width: 0.2;
    fill: darkColor(light);
    stroke: darkColor(light);
  }
}

.navActive path {
  stroke-width: 2;
  fill: darkColor(dark);
  stroke: darkColor(dark);
}
