.servings-units {
  width: 100%;
  margin: 1rem auto 0.5rem auto;
  display: grid;
  grid-template-columns: 1fr 1fr;
  place-items: center;
}

.unit-option {
  display: inline-block;
  width: 3rem;
  text-align: center;
  color: #0172c4;
  cursor: pointer;
  padding: 0.2rem 0;
  margin: 0 0.5rem;
}

.servings {
}

.servings > input {
  all: unset;
  width: 3rem;
  padding: 0.2rem 0;
  color: #0172c4;
  margin: 0 0.5rem;
  border-bottom: solid #313131 0.02rem;
}
