.rating {
  display: grid;
  grid-template-columns: 7rem 1fr;
  align-items: center;
  grid-template-rows: 1.5rem;
  justify-items: start;
}

.stars {
  display: grid;
  grid-auto-flow: column;
  place-items: center;
}

.votes {
  align-self: end;
}
