.searchBar {
  width: 90%;
  height: 2.4rem;
  font-size: 1.3rem;
  background-color: #eaeaea;
  border-radius: 0.5rem;
  padding: 0 0 0 1.5rem;
  transition: all 0.1s ease-out;
  display: grid;
  grid-template-columns: 15fr 1fr;
  place-items: center;
  align-self: end;
  margin: 0.5rem auto;
}

.searchIcon {
  width: 3.2rem;
  cursor: pointer;
  padding: 0.5rem 1rem;
}

.input {
  all: unset;
  width: 100%;
  color: #484848;
  font-size: 1rem;
  justify-self: start;
}

.input::placeholder {
  /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: #000;
  opacity: 0.5; /* Firefox */
}
