.searchBar {
  height: 2.4rem;

  border: solid red;
}

.searchIcon {
  width: 2.2rem;
  cursor: pointer;
  /* padding: 0.5rem 1rem; */
  padding: 0.5rem;
}

.input {
  all: unset;
  width: 100%;
  color: #484848;
  font-size: 1rem;
  justify-self: start;
  display: none;
}

.input::placeholder {
  /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: #000;
  opacity: 0.5; /* Firefox */
}
