.searchBar {
  height: 2.4rem;
  grid-area: search;
  justify-self: end;
  margin-right: 0.2rem;
}

.searchIcon {
  width: 2.2rem;
  cursor: pointer;
  /* padding: 0.5rem 1rem; */
  padding: 0.5rem;
  fill: #676767;
}

.input {
  all: unset;
  width: 100%;
  color: #484848;
  font-size: 1rem;
  justify-self: start;
  display: none;
}

.input::placeholder {
  /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: #000;
  opacity: 0.5; /* Firefox */
}
