@import "../../assets/styles/variables";

.recipe-card {
  display: grid;
  grid-gap: 0.2rem;
  grid-template-areas:
    "thumbnail"
    "title"
    "rt";
  align-items: center;
  max-width: 31rem;
  min-width: 15rem;
  background-color: #fff;
  margin: auto;

  .title {
    font-size: 1.1rem;
    font-weight: bold;
    letter-spacing: -0.5px;
    line-height: 1.4rem;
    color: darkColor(dark);
    margin: 0 0.4rem;
    grid-area: title;
  }
  .recipe-meta {
    grid-area: rt;
    margin: 0 0.1rem;
    color: darkColor(light);
    font-family: Arial !important;
    font-size: 1rem;
    font-weight: 100;

    display: grid;
    grid-template-columns: 3fr 3fr 1fr;
    grid-gap: 0.3rem;
    place-items: center;

    .rating {
      justify-self: start;

      .votes {
        font-size: 1rem;
      }
    }

    .time {
      @include grid-center;
      grid-auto-flow: column;
      grid-gap: 0.2rem;
      img {
        width: 1rem;
      }
    }
    .saves {
      @extend .time;
    }
  }
}

.recipe-card.loading {
  grid-gap: 0.5rem;
  width: 100%;
  .thumbnail {
    background: linear-gradient(130deg, #e2e2e2, #fafafa, #e2e2e2);
    background-size: 200% 200%;
    animation: Animation 3s ease-in infinite;
  }
  .title,
  .recipe-meta {
    margin: 0 0.2rem;
    width: 75%;
    height: 1rem;
    background-color: lightColor(light);
    border-radius: 0.2rem;
  }
  .recipe-meta {
    width: 100%;
  }
}

.thumbnail {
  grid-area: thumbnail;
  max-height: 25vh;
  min-height: 25vh;
  width: 100%;
  object-fit: cover;
  transition: all 0.2s;

  &.loading {
    background: linear-gradient(130deg, #e2e2e2, #fafafa, #e2e2e2);
    background-size: 200% 200%;
    animation: Animation 3s ease-in infinite;
  }
}

@keyframes Animation {
  0% {
    background-position: 0% 0%;
  }
  50% {
    background-position: 91% 100%;
  }
  100% {
    background-position: 0% 0%;
  }
}
