.recipe-results {
  ul {
    display: grid;
    grid-gap: 4rem;
    grid-template-columns: repeat(auto-fit, minmax(18rem, 1fr));
    padding: 0;
    list-style-type: none;
    list-style: none;
  }
}

.results_clear {
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding: 1rem 0.5rem;
}

.numOfResults {
  justify-self: start;
  color: #b7b7b7;
}

.clear-filters {
  justify-self: end;
  color: #676767;
  cursor: pointer;
}
