@import "../../../assets/styles/variables";

.profile-home {
  @include grid-center;

  .filter-box {
    position: sticky;
    z-index: 3;
    top: 5.2rem;
  }
  .no-results {
    padding-top: 4rem;
  }
}

@media (min-device-width: 650px) {
  .profile-home {
    position: relative;
    top: 3rem;

    .header-d {
      border: none;
    }

    .user-info {
      padding: 0 25% !important;
      height: 6rem;
      grid-template-rows: 6rem;
      top: 5rem;
      min-width: 25rem;
      grid-template-columns: 1fr 1fr;
      grid-template-rows: 1.25rem 1rem 3rem;
      place-items: center !important;
      z-index: 0;

      &__edit {
        grid-row: 1 / 4;
        img {
          width: 5rem;
          height: 5rem;
          border-radius: 100%;
          border: solid lightColor(medium) 0.09rem;
          padding: 0;
        }
      }

      &__full-name {
        display: block;
      }

      &__username {
        display: block;
        font-size: 0.75rem;
        color: darkColor(medium);
        font-weight: 100;
      }

      &__create-recipe {
        display: none;
      }

      &__edit-profile-btn {
        border: solid lightColor(dark) thin;
        white-space: nowrap;
        padding: 0.25rem 2rem;
        color: darkColor(light);
        font-weight: medium;
        border-radius: 0.2rem;
        display: block;
        font-size: 0.75rem;

        &:hover {
          border-color: $primary-color;
          color: $primary-color;
        }
      }
    }

    .page-toggle {
      position: sticky;
      margin-top: 8rem;
      top: 3rem;
      padding: 0 0.5rem 0.5rem 0.5rem;
      grid-gap: 0.5rem;
      grid-template-columns: 1fr;
      grid-template-rows: 1fr;
      place-items: center !important;

      .category-btn-d {
        height: 1.5rem;
      }

      &__btn {
        width: 5rem;
        font-weight: 400 !important;
        font-size: 0.75rem;
      }

      // header-d Categories horizontal list
      .filter-results-category {
        border: none !important;
        justify-self: center !important;
        display: block;
        padding: 0 !important;
        justify-items: start;
        border-radius: 0 !important;
        position: static !important;
        min-width: 20rem;
        max-width: 40rem;
        box-shadow: none;
        background-color: inherit;
        &__title {
          display: none;
        }

        .filter-list {
          padding: 0;
          margin: 0;
          display: grid;
          width: 100%;
          max-width: 40rem;
          min-width: 23rem;
          grid-auto-flow: column;
          place-items: center;

          &__option {
            width: 100%;
            font-size: 0.75rem;
            padding: 0.2rem 0rem;
            display: inline-block;
            white-space: nowrap;
            margin-top: 0.2rem;
            margin-bottom: 0.1rem;
            &:hover {
              background-color: #fff !important;
            }

            &--active {
              color: darkColor(medium);
              font-weight: normal;
              margin-bottom: 0;
              border-bottom: solid $primary-color 0.1rem;
            }
          }
        }
      }
    }
  }
}

@media (max-width: 669px) {
  .page-toggle {
    .filter-results-category {
      display: none !important;
    }
  }
  .profile-home > .filter-results-category {
    position: fixed;
    top: 6rem !important;

    .filter-results-category__title {
      display: none;
    }
  }
}

@media (min-device-width: 650px) and (max-width: 669px) {
  .page-toggle {
    .filter-results-category {
      display: none !important;
    }
  }
  .profile-home > .filter-results-category {
    position: sticky;
    top: 5rem !important;

    .filter-results-category__title {
      display: none;
    }
  }
}

// Desktop view
@media (min-width: 670px) {
  .profile-home {
    .page-toggle {
      .category-btn-d {
        display: none;
      }
    }
  }
}

@media (min-width: 670px) {
  .profile-home > .filter-results-category {
    display: none;
  }
}
