@import "../../../assets/styles/variables";

.profile-home {
  @include grid-center;

  .filter-box {
    position: sticky;
    z-index: 3;
    top: 5.2rem;
  }
  .no-results {
    padding-top: 4rem;
  }
}

@media (min-device-width: 650px) {
  .profile-home {
    position: relative;
    top: 3rem;

    .header-d {
      border: none;
    }

    .user-info {
      padding: 0 !important;
      height: 15rem;
      top: 8rem;
      left: 50%;
      margin-left: -12.5rem;
      min-width: 25rem;
      width: 35%;
      max-width: 30rem;
      grid-template-columns: min-content minmax(min-content, 1fr);
      place-items: center !important;

      &__full-name {
        font-size: 1.5rem;
      }

      &__edit {
        img {
          width: 11rem;
          height: 11rem;
          border-radius: 100%;
          border: solid lightColor(medium) 0.1rem;
          padding: 0.4rem;
        }
      }

      &__create-recipe {
        display: none;
      }

      &__edit-profile-btn {
        border: solid lightColor(dark) thin;
        white-space: nowrap;
        padding: 0.3rem 1rem;
        color: darkColor(light);
        font-weight: medium;
        border-radius: 0.2rem;
        display: block;
        font-size: 0.75rem;

        &:hover {
          border-color: $primary-color;
          color: $primary-color;
        }
      }
    }

    .page-toggle {
      margin-top: 15rem;
      top: 3rem;
      padding: 0 0.5rem 0.5rem 0.5rem;
      grid-gap: 0.5rem;
      grid-template-columns: 1fr;
      grid-template-rows: 1fr;
      place-items: center !important;

      .category-btn-d {
        height: 1.5rem;
      }

      &__btn {
        width: 5rem;
        font-weight: 400 !important;
        font-size: 0.75rem;
      }

      // header-d Categories horizontal list
      .filter-results-category {
        border: none !important;
        justify-self: center !important;
        display: block;
        padding: 0 1rem !important;
        justify-items: start;
        border-radius: 0 !important;
        position: static !important;
        min-width: 20rem;
        max-width: 40rem;
        box-shadow: none;
        background-color: inherit;
        &__title {
          display: none;
        }

        .filter-list {
          margin: 0;
          display: grid;
          width: 100%;
          max-width: 40rem;
          min-width: 23rem;
          grid-auto-flow: column;
          place-items: center;

          &__option {
            width: 100%;
            font-size: 0.75rem;
            padding: 0.2rem 0rem;
            display: inline-block;
            white-space: nowrap;
            margin-top: 0.2rem;
            margin-bottom: 0.1rem;
            &:hover {
              background-color: #fff !important;
            }

            &--active {
              color: darkColor(medium);
              font-weight: normal;
              margin-bottom: 0;
              border-bottom: solid $primary-color 0.1rem;
            }
          }
        }
      }
    }
  }
}

@media (max-width: 669px) {
  .page-toggle {
    .filter-results-category {
      display: none !important;
    }
  }
  .profile-home > .filter-results-category {
    left: 1rem;
    position: sticky;
    top: 5rem !important;

    .filter-results-category__title {
      display: none;
    }
  }
}

// Desktop view
@media (min-width: 670px) {
  .profile-home {
    .page-toggle {
      .category-btn-d {
        display: none;
      }
    }
  }
}

@media (min-width: 670px) {
  .profile-home > .filter-results-category {
    display: none;
  }
}
