.cr-header {
  display: grid;
  grid-template-columns: 4.2rem 1fr 4.2rem;
  place-items: center;
  border-bottom: solid #e2e2e2 0.01rem;
}

.cr-header h1 {
  white-space: nowrap;
  margin: 1rem 0;
  font-size: 1.6rem;
  color: #464646;
  text-align: center;
}

.cr-header .save-recipe-btn {
  color: #0172c4;
  cursor: pointer;
  justify-self: end;
  padding: 0.5rem 1rem;
  font-size: 1rem;
}

.create-recipe {
  padding: 0 0.3rem;
  display: grid;
  place-items: center;
  grid-gap: 5rem;
}

.cr-section {
  width: 100%;
}

.create-recipe ul {
  padding: 0;
}

.create-recipe li {
  list-style-type: none;
}

.create-recipe input {
  -webkit-appearance: none;
  background: none;
  border: 0;
  outline: 0;
  padding: 0.1rem 0;
  width: 100%;
  appearance: none;

  font-size: 1.25rem;
  border-radius: 0;
  color: #313131;
  text-align: center;
  border-bottom: solid #464646 0.1rem;
  grid-row: 1;
}

.create-recipe .ingredient-input {
  border: none;
  text-align: left;
  font-weight: bold;
  cursor: pointer;
}

.create-recipe .ingredient-input.active {
  cursor: default;
  border-bottom: solid #464646 0.1rem;
}

.create-recipe textarea {
  -webkit-appearance: none;
  background: none;
  border: 0;
  outline: 0;
  padding: 0.5rem;
  width: 100%;
  max-width: 55rem;
  height: 25rem;
  appearance: none;

  font-size: 1.25rem;
  color: #313131;
  border: solid #bfbfbf 0.08rem;
  border-radius: 0.1rem;
  resize: none;
}

.create-recipe label {
  color: #b7b7b7;
  font-size: 0.8rem;
  display: grid;
  place-items: center;
  width: 100%;
}

.create-recipe .error {
  color: #c40801;
}

.create-recipe h2 {
  text-align: center;
  color: #313131;
}

.create-recipe .cr-title {
  font-size: 1.8rem;
  font-weight: bold;
}

.create-recipe .cr-title::placeholder {
  opacity: 0.1;
}

.create-recipe .cr-image {
  border: none !important;
}

.create-recipe .cr-footnote {
  height: 10rem;
}

/*
.recipe-form {
  padding: 0.4rem;
  color: #707070;
  display: grid;
  grid-gap: 3rem;
}

.recipe-form input {
  background-clip: padding-box;
  outline: none;
  margin: calc(2px - 1px);
}

.recipe-form .input-active input {
  margin: calc(2px - 1.5px);
  border: solid 1.5px #0172c4;
  box-shadow: 0.1rem 0.2rem 0.5rem #e2e2e2;
}

span.error {
  color: #ff5353;
}

.recipe-form label {
  margin-left: 0.8rem;
  color: #464646;
}

.field {
  display: grid;
}

.field input {
  border: solid #bfbfbf 1px;
  border-radius: 10rem;
  font-size: 1rem;
  padding: 0.5rem;
}

.full-input {
  width: 100%;
}
.full-input input {
  border: solid #bfbfbf 1px;
  border-radius: 10rem;
  font-size: 1rem;
  padding: 0.5rem 0.8rem;
  width: 100%;
}

.cr-servings {
  place-items: center;
}
.cr-servings label {
  margin: 0;
}

.cr-servings input {
  border: solid #bfbfbf 1px;
  border-radius: 10rem;
  font-size: 1rem;
  padding: 0.5rem;
  text-align: center;
}

.recipe-form h4 {
  text-align: center;
  padding: 1rem;
  padding-bottom: 0;
  font-size: 1.5rem;
  font-weight: normal;
  color: #464646;
  margin: 0;
}

.add-remove-button {
  display: grid;
  grid-auto-flow: column;
  grid-gap: 1rem;
  margin: 1rem 0;
}

.add-remove-button .button {
  border: solid #bfbfbf 1px;
  border-radius: 10rem;
  font-size: 1rem;
  padding: 0.5rem;
  text-align: center;
  cursor: pointer;
}

.ingredients {
  grid-column-gap: 1rem;
}

.ingredients input {
  border: none;
  border-bottom: solid #bfbfbf 1px;
  border-radius: 0;
  width: 100%;
}

.recipe-form select {
  outline: none;
  padding: 10px 35px 10px 10px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 10rem;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background: url("../../../images/updown-512.png") 96% / 1.5rem no-repeat #fff;
  cursor: pointer;
  color: #464646;
}

.cr-dropdown {
  display: grid;
}

.add:hover {
  color: #0172c4;
}

.remove:hover {
  color: #c40801;
} */
