.cr-header {
  display: grid;
  grid-template-columns: 4rem 1fr;
  place-items: center;
}

.cr-header h1 {
  white-space: nowrap;
  margin: 1rem 0;
  font-size: 1.5rem;
  margin-right: 4rem;
}

.recipe-form {
  padding: 0.4rem;
  color: #707070;
  display: grid;
  grid-gap: 3rem;
}

.recipe-form input {
  background-clip: padding-box;
  outline: none;
  margin: calc(2px - 1px);
}

.recipe-form input::placeholder {
  /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: #000;
  opacity: 0.2; /* Firefox */
}

.recipe-form .input-active input {
  margin: calc(2px - 1.5px);
  border: solid 1.5px #0172c4;
  box-shadow: 0.1rem 0.2rem 0.5rem #e2e2e2;
}

span.error {
  color: #ff5353;
}

.recipe-form label {
  margin-left: 0.8rem;
  color: #464646;
}

.field {
  display: grid;
}

.field input {
  border: solid #bfbfbf 1px;
  border-radius: 10rem;
  font-size: 1rem;
  padding: 0.5rem;
}

.full-input input {
  border: solid #bfbfbf 1px;
  border-radius: 10rem;
  font-size: 1rem;
  padding: 0.5rem 0.8rem;
}

.cr-servings {
  place-items: center;
}
.cr-servings label {
  margin: 0;
}

.cr-servings input {
  border: solid #bfbfbf 1px;
  border-radius: 10rem;
  font-size: 1rem;
  padding: 0.5rem;
  text-align: center;
}

.recipe-form h4 {
  border-bottom: solid #e3e3e3 1px;
  text-align: center;
  padding: 1rem;
  font-size: 1.5rem;
  font-weight: normal;
  color: #464646;
  margin: 0;
  margin-bottom: 1rem;
}

.add-remove-button {
  display: grid;
  grid-auto-flow: column;
  grid-gap: 1rem;
  margin: 1rem 0;
}

.add-remove-button .button {
  border: solid #bfbfbf 1px;
  border-radius: 10rem;
  font-size: 1rem;
  padding: 0.5rem;
  text-align: center;
  cursor: pointer;
}

.ingredients {
  border: solid #bfbfbf 1px;
  border-radius: 0.5rem;
  padding: 1rem 0.5rem;
  display: grid;
  grid-template-areas:
    "amt"
    "unit"
    "ing"
    "prep";
  grid-gap: 0.5rem;
}

.ingredient-num {
  margin: 0.5rem 0 !important;
}

.ingredient {
  grid-area: ing;
}

.amount {
  grid-area: amt;
}

.unit {
  grid-area: unit;
}

.prep {
  grid-area: prep;
}
.recipe-form select {
  outline: none;
  padding: 10px 35px 10px 10px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 10rem;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background: url("../../../images/updown-512.png") 96% / 1.5rem no-repeat #fff;
  cursor: pointer;
  color: #464646;
}

.cr-dropdown {
  display: grid;
}

/* .add:hover {
  color: #0172c4;
}

.remove:hover {
  color: #c40801;
} */
