@import "../../assets/styles/variables";

.recipe-results {
  width: 100%;
  padding: 2rem 0 0 0;
  position: relative;
  text-align: center;
  z-index: 2;
  background-color: #fff;

  &__list {
    margin: 3rem auto;
    display: grid;
    grid-column-gap: 1rem;
    grid-row-gap: 4rem;
    align-items: start;
    justify-items: center;
    grid-template-columns: repeat(auto-fit, minmax(17.6rem, 1fr));
    padding: 0;
    list-style-type: none;
    list-style: none;
  }

  &__load-more {
    outline: none;
    border: solid lightColor(dark) 0.09rem;
    border-radius: 0.3rem;
    cursor: pointer;
    color: darkColor(medium);
    font-weight: 400;
    font-size: 0.9rem;
    background-color: #fff;
    width: 100%;
    min-width: 12rem;
    max-width: 15rem;
    margin: 4rem auto;
    padding: 0.6rem 2rem;
    text-align: center;

    &:hover {
      border-color: $primary-color;
      color: $primary-color;
    }
  }
}

@media (min-width: 500px) {
  .recipe-results {
    padding: 2rem 2rem 0 2rem;
  }
}

@media (max-devive-width: 649px) {
  .recipe-results--active {
    @include dark-overlay;
  }
}
