@import "../../assets/styles/variables";

.recipe-results {
  width: 100%;
  margin-top: -1rem;
  position: relative;
  text-align: center;
  z-index: 2;
  background-color: #fff;
  padding-top: 2rem;
  ul {
    display: grid;
    width: 100%;
    grid-gap: 4rem;
    grid-template-columns: repeat(auto-fit, minmax(18rem, 1fr));
    padding: 0;
    list-style-type: none;
    list-style: none;
    text-align: left;
  }
  .load-more {
    outline: none;
    border: solid lightColor(medium) 0.09rem;
    border-radius: 0.5rem;
    cursor: pointer;
    color: darkColor(medium);
    font-weight: 900;
    font-size: 1.1rem;
    background-color: #fff;
    width: 75%;
    min-width: 18rem;
    max-width: 20rem;
    margin: 4rem auto;
    padding: 0.6rem 5rem;
    fontweight: bold;
    text-align: center;
  }
}

.results_clear {
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding: 1rem 0.5rem;
}

.numOfResults {
  justify-self: start;
  color: #b7b7b7;
}

.clear-filters {
  justify-self: end;
  color: #676767;
  cursor: pointer;
}
