@import "../../assets/styles/variables";

.recipe-results {
  padding: 6rem 0 4rem 0;
  position: relative;
  text-align: center;
  background-color: rgb(250, 250, 250);
  width: 100%;
  min-height: calc(100vh - 5.25rem);

  &__list {
    margin: 0 auto;
    padding: 0;
    list-style-type: none;
    list-style: none;
    display: inline-grid;
    justify-items: start;

    grid-gap: 1rem;
    grid-template-columns: repeat(2, 1fr);
  }

  &__load-more {
    visibility: hidden;
    outline: none;
    border: solid lightColor(dark) 0.09rem;
    border-radius: 0.3rem;
    cursor: pointer;
    color: darkColor(light);
    font-weight: 400;
    font-size: 0.9rem;
    background-color: #fff;
    width: 100%;
    min-width: 12rem;
    max-width: 15rem;
    margin: 4rem auto;
    padding: 0.6rem 2rem;
    text-align: center;
    display: block;

    &:hover {
      border-color: $primary-color;
      color: $primary-color;
    }
  }
}

@media (max-device-width: 649px) {
  .profile-home > .recipe-results {
    top: 4rem;
  }
  .recipe-results--active {
    @include dark-overlay;
  }
}

@media (min-device-width: 650px) {
  .recipe-results {
    &__list {
      grid-gap: 1rem;
      grid-template-columns: repeat(3, 1fr);
    }
  }
}

@media (min-width: 650px) {
  .recipe-results {
    &__list {
      grid-template-columns: repeat(2, 19.5rem);
    }
  }
}

@media (min-width: 1000px) {
  .recipe-results {
    &__list {
      grid-template-columns: repeat(3, minmax(20rem, 1fr));
    }
  }
}

@media (min-width: 1350px) {
  .recipe-results {
    &__list {
      grid-template-columns: repeat(4, minmax(20rem, 1fr));
    }
  }
}
