@import "../../../assets/styles/variables";

.servings-units {
  width: 100%;
  margin: 1rem auto 0.5rem auto;
  @include grid-center;
  grid-template-columns: 1fr 1fr;
}
.units {
  width: 100%;
  text-align: center;

  .unit-option {
    display: inline-block;
    width: 3rem;
    text-align: center;
    color: $primary-color;
    cursor: pointer;
    padding: 0;
    margin: 0 0.2rem;
    font-weight: 900;
  }
}

.servings {
  width: 100%;
  text-align: center;
  input {
    all: unset;
    width: 3rem;
    font-weight: 900;
    color: $primary-color;
    -webkit-text-fill-color: $primary-color;
    opacity: 1;
    margin: 0 0.2rem;
    border-bottom: solid darkColor(medium) 0.1rem;
  }
}
