@import "../../../assets/styles/variables";

.servings-units {
  width: 100%;
  margin: 1rem auto 0.5rem auto;
  display: grid;
  grid-template-columns: 1fr 1fr;
  place-items: center;
}

.unit-option {
  display: inline-block;
  width: 3rem;
  text-align: center;
  color: $primary-color;
  cursor: pointer;
  padding: 0.1rem 0;
  margin: 0 0.5rem;
  font-weight: 900;
}

.servings {
  input {
    all: unset;
    width: 3rem;
    padding: 0.1rem 0;
    font-weight: 900;
    color: $primary-color;
    -webkit-text-fill-color: $primary-color;
    opacity: 1;
    margin: 0 0.5rem;
    border-bottom: solid darkColor(medium) 0.1rem;
  }
}
