@import "../../../assets/styles/variables";

.no-results {
  position: relative;
  top: 0rem;
  padding-top: 10rem;
  padding-bottom: 2rem;
  text-align: center;
  width: 100%;
  z-index: 1;
  background-color: #fff;
  &__title {
    color: darkColor(medium);
    font-size: 1.8rem;
    margin: 0;
  }

  &__msg {
    color: darkColor(light);
    font-size: 0.9rem;
    font-weight: 400;
    margin: 0.5rem 0;
  }
}
