@import "../../../assets/styles/variables";

.profile-header {
  color: darkColor(medium);
  .top {
    padding-top: 0.5rem;
    .arrow-style {
      padding: 0.5rem;
    }

    position: fixed;
    top: 0;
    left: 0;
    height: 2.5rem;
    width: 100%;
    z-index: 3;
    @include grid-center;
    grid-template-columns: 3rem 1fr 3rem;
    background-color: #fff;
    margin: 0;
    .username {
      margin: 0;
      font-size: 1.1rem;
    }
  }

  .user-info {
    @include grid-center;
    left: 0;
    width: 100%;
    margin-top: 3rem;
    position: fixed;
    z-index: 0;
    padding: 0.5rem;

    img {
      width: 6rem;
      height: 6rem;
      object-fit: cover;
      border-radius: 100%;
    }

    h2 {
      font-size: 1.3rem;
      fontweight: 900;
      margin: 0;
      margin-bottom: 1rem;
    }

    .edit {
      color: $primary-color;
      font-size: 0.8rem;
      margin: 0.3rem;
    }

    .edit-link {
      @include grid-center;
      &:hover {
        opacity: 0.9;
      }
    }
  }
}
