@import "../../../assets/styles/variables";

.create-recipe-header {
  display: grid;
  grid-template-columns: 4rem 1fr 4rem;
  place-items: center;

  &__back-btn {
    width: 1.2rem;
  }

  &__title {
    font-size: 1.2rem;
    text-align: center;
    color: darkColor(medium);
  }
}

.create-recipe {
  position: relative;
  top: 0rem;
  padding: 0.5rem 0;

  &__d-back-btn {
    color: darkColor(medium);
    cursor: pointer;
    font-weight: normal;
    text-align: center;
    font-size: 0.75rem;
    padding: 0.2rem 1.5rem;
    white-space: nowrap;
    margin: 0;
    @include fast-transition;
    align-self: end;
    position: relative;

    &:hover {
      color: $primary-color;
    }
  }

  &__line {
    border-bottom: solid lightColor(light) thin;
    display: block;
    max-width: 39.4rem;
    margin: 4rem auto;
  }

  &__title {
    text-align: center;
    font-size: 1.1rem;
    color: darkColor(medium);
    margin: 3rem auto;
    max-width: 40rem;
    padding: 0.6rem;
  }
}

.clone {
  max-width: 40rem;
  margin: 2rem auto;
  padding: 0 0.6rem;
  display: block;
  position: relative;
  font-weight: bold;
  font-size: 0.75rem;
  color: darkColor(medium);
  cursor: text;

  &__input {
    background: none;
    outline: 0;
    padding: 0.75rem;
    width: 100%;
    appearance: none;
    margin-top: 0.1rem;
    font-size: 0.9rem;
    color: darkColor(medium);
    background-color: #fff;
    border: solid lightColor(dark) 0.08rem;
    border-radius: 0.2rem;

    &::placeholder {
      color: lightColor(medium);
    }
    &:focus {
      border: solid darkColor(dark) 0.08rem;
    }
  }
}

@media (min-device-width: 650px) {
  .create-recipe {
    top: 5rem;
  }
}
