@import "../../../assets/styles/variables";

.create-recipe-header {
  display: grid;
  grid-template-columns: 4rem 1fr 4rem;
  place-items: center;

  &__back-btn {
    width: 1.2rem;
  }

  &__title {
    font-size: 1.2rem;
    text-align: center;
    color: darkColor(medium);
  }
}

.create-recipe {
  position: relative;
  top: 0rem;

  &__d-back-btn {
    color: darkColor(medium);
    cursor: pointer;
    font-weight: normal;
    text-align: center;
    font-size: 0.75rem;
    padding: 0.2rem 1.5rem;
    white-space: nowrap;
    margin: 0;
    @include fast-transition;
    align-self: end;
    position: relative;

    &:hover {
      color: $primary-color;
    }
  }

  &__title {
    text-align: center;
    font-size: 1.1rem;
    color: darkColor(medium);
    margin: 3rem;
  }
}

@media (min-device-width: 650px) {
  .create-recipe {
    top: 5rem;
  }
}
