.sr-header {
  display: grid;
  grid-template-columns: 1fr;
  place-items: center;
  user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
}

.remove-btm-border {
  border-bottom: none;
}

.sr-header h1 {
  white-space: nowrap;
  margin: 1rem 0;
  font-size: 1.5rem;
}

.sr-header .arrowStyle {
  width: 2.5rem;
  cursor: pointer;
  justify-self: start;
  padding: 0.5rem;
  margin: 0.5rem 0;
  display: grid;
  place-items: center;
  padding-left: 0.5rem;
}

.so-active {
  color: #0172c4;
  border: solid #0172c4 1px;
}

.saved-recipes {
  display: grid;
  grid-gap: 0.7rem;
  /* grid-template-columns: repeat(auto-fit; minmax(5rem; 1fr)); */
  grid-template-columns: 1fr 1fr;
  padding: 0.5rem;
  list-style-type: none;
  list-style: none;
}
