@import "../../assets/styles/variables";

.category-btn {
  border: none;
  background-color: #fff;
  outline: none;
  cursor: pointer;
  font-family: Gelion, Arial, sans-serif, times !important;
  font-size: 1rem;
  //margin: 0.4rem 0 0.5rem 1.6rem !important;
  place-self: center;
  color: darkColor(medium);
  font-weight: bold;
  line-height: 1.5rem;

  &--active {
    color: $primary-color;
  }

  &__icon {
    display: inline;
    width: 1.1rem;
    margin-left: 0.4rem;
    transition: all 0.2s ease-out;

    &--active {
      transform: rotate(-90deg);
    }
  }

  &.filter-select {
    color: darkColor(dark);
    &.filter-active {
      color: $primary-color;
    }
  }
}
