@import "../../assets/styles/variables";

.category-btn-m {
  &__icon-d {
    display: none;
  }
  border: none;
  background-color: #fff;
  outline: none;
  cursor: pointer;
  font-family: Gelion, Arial, sans-serif, times !important;
  font-size: 1rem;
  //margin: 0.4rem 0 0.5rem 1.6rem !important;
  place-self: center;
  color: darkColor(medium);
  font-weight: bold;
  line-height: 1.5rem;

  &--active {
    color: $primary-color;
  }

  &__icon-m {
    display: inline;
    width: 1.1rem;
    margin-left: 0.4rem;
    transition: all 0.2s ease-out;

    &--active {
      transform: rotate(-90deg);
    }
  }

  &.filter-select {
    color: darkColor(dark);
    &.filter-active {
      color: $primary-color;
    }
  }
}

.category-btn-d {
  &__icon-m {
    display: none;
  }

  width: 9rem;
  height: 2rem;
  margin-left: 1rem;
  grid-column: 1 / 3;
  background-color: #fff;
  border: none;
  outline: none;
  font-size: 0.75rem;
  cursor: pointer;
  line-height: 1rem;

  &:hover {
    color: $primary-color;
  }

  &__icon-d {
    width: 0.7rem;
    height: 1rem;
    position: relative;
    top: 0.25rem;
    left: 0.5rem;
    transition: all 0.2s ease-out;

    &--active {
      transform: rotate(-90deg);
    }
  }
}
