$dark-colors: (
  "light": #707070,
  "medium": #464646,
  "dark": #313131
);

@function darkColor($color) {
  @return map-get($dark-colors, $color);
}

$light-colors: (
  "light": #f2f2f2,
  "medium": #e2e2e2,
  "dark": #b7b7b7
);

@function lightColor($color) {
  @return map-get($light-colors, $color);
}

$font-weights: (
  "light": 100,
  "normal": 800,
  "bold": 900
);

@function fontWeight($weight) {
  @return map-get($font-weights, $weight);
}

$primary-color: #0172c4;
$error-color: #c40801;
$star-color: #ffa805;

@mixin grid-center {
  display: grid;
  place-items: center;
}
