$dark-colors: (
  "light": #707070,
  "medium": #464646,
  "dark": #313131
);

@function darkColor($color) {
  @return map-get($dark-colors, $color);
}

$light-colors: (
  "light": #f2f2f2,
  "medium": #e2e2e2,
  "dark": #b7b7b7
);

@function lightColor($color) {
  @return map-get($light-colors, $color);
}

$font-weights: (
  "light": 100,
  "normal": 800,
  "bold": 900
);

@function fontWeight($weight) {
  @return map-get($font-weights, $weight);
}

$primary-color: #0172c4;
$secondary-color: #85c33d;
$error-color: #c40801;
$star-color: #ffa805;

@mixin grid-center {
  display: grid;
  place-items: center;
}

@mixin fast-transition {
  transition: all 0.1s ease-out;
}

@mixin slow-transition {
  transition: all 0.5s ease;
}

@mixin dark-overlay {
  &:after {
    -webkit-backdrop-filter: blur(0.05rem);
    backdrop-filter: blur(0.05rem);
    content: "";
    width: 100%;
    height: 105%;
    background: rgba(0, 0, 0, 0.75);
    position: absolute;
    z-index: 3; // Take note of this negative z-index and compare to each article's positive z-index. This helps your content to show up over the overlay.
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
  }
}
