$dark-colors: (
  "light": #707070,
  "medium": #464646,
  "dark": #313131
);

.validation-error {
  font-size: 0.75rem;
  color: #c72a24;
  padding: 0.25rem 0;
  font-weight: normal;
  overflow: scroll;
}

@function darkColor($color) {
  @return map-get($dark-colors, $color);
}

$light-colors: (
  "light": #f2f2f2,
  "medium": #e2e2e2,
  "dark": #b7b7b7
);

@function lightColor($color) {
  @return map-get($light-colors, $color);
}

$font-weights: (
  "light": 100,
  "normal": 800,
  "bold": 900
);

@function fontWeight($weight) {
  @return map-get($font-weights, $weight);
}

$primary-color: #0386f7;
$secondary-color: #85c33d;
$error-color: #db4141;
$success-color: #08d156;
$star-color: #ffa805;

@mixin grid-center {
  display: grid;
  place-items: center;
}

@mixin fast-transition {
  transition: all 0.1s ease-out;
}

@mixin slow-transition {
  transition: all 0.5s ease;
}

@mixin dark-overlay {
  &:after {
    -webkit-backdrop-filter: blur(0.05rem);
    backdrop-filter: blur(0.05rem);
    content: "";
    width: 100%;
    height: 105%;
    background: rgba(0, 0, 0, 0.75);
    position: absolute;
    z-index: 3; // Take note of this negative z-index and compare to each article's positive z-index. This helps your content to show up over the overlay.
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
  }
}

// Button state styles

@mixin btn-active {
  transform: translateY(1px);
  filter: saturate(150%);
}

@mixin submit-btn {
  outline: none;
  cursor: pointer;
  font-size: 0.8rem;
  font-weight: 600;
  border: solid $primary-color thin;
  color: $primary-color;
  background-color: #fff;
  border-radius: 50rem;
  padding: 0.5rem;
  margin: 2rem;
  width: 90%;
  max-width: 15rem;
  place-self: center;
  @include fast-transition;

  &:active {
    @include btn-active;
  }

  @media (hover: hover) {
    &:hover {
      background-color: $primary-color;
      color: #fff;
    }
  }

  &--disabled {
    opacity: 0.5;
    cursor: default;
    &:active {
      @include btn-active;
    }
    @media (hover: hover) {
      &:hover {
        background-color: #fff;
        color: $primary-color;
      }
    }
  }

  &--success {
    background-color: $success-color;
    border-color: $success-color;
    color: #fff;
    cursor: default;

    @media (hover: hover) {
      &:hover {
        background-color: $success-color;
        color: #fff;
      }
    }
  }
}

@mixin delete-btn {
  @include submit-btn;
  margin: 1rem;
  border-radius: 0.2rem;
  border-color: lightColor(dark);
  max-width: 10rem;
  color: $error-color;
  font-size: 0.8rem;
  font-weight: 600;
  padding: 0.4rem 0.5rem;
  background-image: linear-gradient(180deg, #fff, #f8f8f8);

  @media (hover: hover) {
    &:hover {
      background-image: none;
      background-color: $error-color;
      border-color: darken($error-color, 20%);
    }
  }
}
